[2021-09-13 12:18] #8645 closed

[2021-09-13 12:28] omercier commented on #8300
Hi Jochen,
I am closing the issue, since this has been fixed since [20.04.9](https://docs.centreon.com/20.04/en/releases/centreon-core.html#20049-2) / [20.10.0](https://docs.centreon.com/20.10/en/releases/centreon-core.html#20100-2).
Regards

[2021-09-13 12:28] #8300 closed

[2021-09-13 12:34] omercier commented on #5321
Hi,
This bug has been fixed since version 18.10 at least.
I am thus closing the issue.
Regards

[2021-09-13 12:34] #5321 closed

[2021-09-13 12:35] omercier commented on #6305
Hi,
This bug has been fixed since version 18.10 at least.
I am thus closing the issue.
Regards

[2021-09-13 12:37] omercier commented on #5313
Hi Eric,
This has been fixed in the later versions and Poller Display is now replaced by Remote Server, so I'm closing the issue.
Regards

[2021-09-13 12:37] #5313 closed

[2021-09-13 12:40] #6362 closed

[2021-09-13 12:43] omercier commented on #6914
Hi @markeur,
Sorry for the long wait.
I believe it is still working correctly, and I'm closing the issue.
Regards

[2021-09-13 12:43] #6914 closed

[2021-09-13 12:46] omercier commented on #5589
This has been fixed a while ago.
Thanks for your feedbacks!
Regards

[2021-09-13 12:46] #5589 closed

[2021-09-13 12:48] #1105 closed

[2021-09-13 12:51] omercier commented on #8519
Hi @gerpion,
I am closing this issue, since there has been no answer since one year.
You can reopen it if you need.
Regards

[2021-09-13 12:51] #8519 closed

[2021-09-13 12:53] omercier commented on #6968
Hi,
I believe this has been fixed a while ago.
Feel free to open a new issue with an up-to-date version of Centreon.
Regards

[2021-09-13 12:53] #6968 closed

[2021-09-13 13:04] omercier commented on #5337
Hi,
I understand the need. This would imply a huge storage consumption and additional network load, but why not.
I added it to my backlog for later.
Regards
Refs: MON-11064

[2021-09-13 13:04] #5337 closed

[2021-09-13 13:10] omercier commented on #4961
Hi,
With all centreon plugins, you can use this argument to disable performance data (only text output is returned): `--output-ignore-perfdata`.
This will avoid having graphs on your services.
I hope this helps.
Regards

[2021-09-13 13:10] #4961 closed

[2021-09-14 08:47] ArnoMdlt opened #10120 "[bug 21.04] Ressources status : graphics display problem"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

centreon-auto-discovery-server-21.04.1-2.el7.centos.noarch
centreon-awie-21.04.0-1.el7.centos.noarch
centreon-bam-server-21.04.0-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.04.4-2.el7.centos.noarch
centreon-broker-21.04.2-3.el7.centos.x86_64
centreon-broker-cbd-21.04.2-3.el7.centos.x86_64
centreon-broker-cbmod-21.04.2-3.e

[2021-09-14 14:13] cmeschin commented on #6095
Hi,
Just tested on 21.04 and still present.

[2021-09-15 11:33] S0ULIS opened #10127 "Database run out of Free Data"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

*CentOS*

***Browser used***

- [ x ] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: --

***Virtual machine***

### Description

-- Describe the encountered issue --

### Steps to Reproduce

Ple

[2021-09-15 14:40] MajorFault commented on #10120
I have the same issue. It only happens with Firefox, Chrome is working fine.
Workaround to see the graph: Click on "Timeline" and then on "Graph" again.

[2021-09-15 15:57] ArnoMdlt commented on #10120
yes I use this "technique" too, thanks for the feedback!

[2021-09-16 10:14] AimPython commented on #9763
Hi, Centreon is dead since then, we are in the process of taking a license from you.

[2021-09-16 13:28] Nathanael-Mtd opened #10139 "Kubernetes Auto Discovery plugin CredentialParameter error"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

*CentOS 7*

***Browser used***

- [X] Google Chrome
- [X] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.): Installed using ISO on Hyper-V***

#

[2021-09-16 19:54] romnvll opened #10141 "Cas auth"
Bonjour,
Est ce que l'authentification cas est dans les tuyaux ?

Merci beaucoup

[2021-09-19 21:03] mayrstefan commented on #9958
should be fixed by #10098

[2021-09-19 21:03] #9958 closed

[2021-09-19 21:09] mayrstefan commented on #9959
Should be fixed by #9878

[2021-09-19 21:09] #9959 closed

[2021-09-20 12:22] joschi99 commented on #9993
Seems a more general problem related to a lot o different fields/arguments, maybe all fields are affected. Some news about this case?
Problem is still there also on 21.04.5

[2021-09-21 13:59] cristianandres9 commented on #7402
Tengo un problema similar y me da este mensaje en modo desarrollo
![image](https://user-images.githubusercontent.com/63620117/134184597-5a7d3d51-0be6-4564-b66c-3e8b2f7cee83.png)

[2021-09-21 14:13] deividgdt opened #10154 "Cumulative Inheritance Not Working"
# BUG REPORT INFORMATION

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

*CentOS*

***Browser used***

- [x] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 93.0.45

### Description

Cumulative Inheritance is not working. This supposed to be the new Contacts & Contact groups method calc

[2021-09-21 14:51] sc979 commented on #7402
@cristianandres9 ,

I am sorry, to tell you that I do not speak spanish.
Could you speak in English ?

deepl.com translates your sentence as :
"I have a similar problem and I am getting this message in development mode."

This issue is caused by chunk JS files.
Did you try to reinstall your packages ? (cf April, 18 2019 reply)
Which version of Centreon do you use ?

Regards,

sc979

[2021-09-21 17:27] cristianandres9 commented on #7402
Hello, thanks for your help, the information indicated on the 15th, I solved the error as you indicated

[2021-09-21 21:29] cristianandres9 commented on #8687
I have a similar error and at the moment I run tail -f /var/log/centreon-broker/central-broker-master.log I have the following errors
![image](https://user-images.githubusercontent.com/63620117/134250321-1765525e-63ea-40fe-9f4c-4d63b1ac9560.png)

[2021-09-22 07:40] #10154 closed

[2021-09-24 10:20] GuerchetM opened #10166 "SQL ERROR upgrade 21.04.04 to 21.04.05"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

*CentOS 7..*

***Browser used***

- [ ] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.):***

### Description

I have tried

[2021-09-24 13:38] joschi99 opened #10168 "21.04.5 - Broker configuration - duplicate is not working"
With the latest update from Centreon web 21.04.5 it is not possible to duplicate a existing borker configuration.

No error on GUI
No error on /var/opt/rh/rh-php73/log/php-fpm/error.log
No error on apache logs

[2021-09-27 07:30] VidushaZ opened #10193 "Centreon RRD Merge possible?"
Hi,

I have decreased the check interval of a service to get data every 1 minute. (Previously it was every 10 min).
But in my graphs I cannot see data every 1 minute until I rebuild data. But once the rebuilding is done I lose my historical data which were gathered every 10 minutes.

Is there anyway to fix this or an alternative solution?

Thank You!

[2021-09-27 09:55] VidushaZ commented on #10092
Found a way here #909

[2021-09-27 09:55] #10092 closed

[2021-09-27 12:48] Blubmann1337 commented on #10166
Had the same problem:

2021-09-27 14:46|0|0|UPGRADE - 21.04.5:Impossible to alter the table contact - Code : 270336 - Error : SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 8126. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs - Trace : #0 /usr/share/

[2021-09-28 16:03] gagzou commented on #10166
+1 for me, same problem for 20.10.10 > 20.10.11

[2021-09-30 13:38] ppoektos commented on #6596
Why nobody care about this major issue?

[2021-10-01 10:18] dreygaurez-vivacy commented on #10166
I had the same problem, 20.10.10 > 20.10.11.
I solved it by reducing the size of one column I don't use in the `contact` table.
You can get the VARCHAR columns by running `DESC contact` on the database.
I then ran the following SQL query on the `centreon` database:
`ALTER TABLE contact MODIFY <column to reduce> VARCHAR(50)`
It is not the best solution though, as it alters the original schema datab

[2021-10-01 14:09] rmorandell-pgum commented on #9993
Here the list of the fields that are affected (can't be cleared even they are not mandatory) in host and/or host template:

alias (both),
ip (host),
snmp_community (both),
command_id_arg (both)

[2021-10-05 14:09] StefThomas commented on #9763
I also have a quite similar problem with LDAP synchronization at login after an upgrade from 20.04.13 to 20.04.17. It takes like two minutes or more to get to the UI, with sometime the "credentials are incorrect" message. I guess this message is related to the "LDAP Error: Size limit exceeded". Increasing the size limit get rid of the "credentials are  incorrect" error but the synchronization stil

[2021-10-05 15:57] ponchoh commented on #10166
please try/check the row format on every table:

[code]

Update from compact to dynamic:

[code]

@GuerchetM let me know

[2021-10-06 09:43] rmorandell-pgum commented on #10017
The same problem we have on the timeperiod fields or host_notification_fields ..

The sanitizeFormHostParameters function (/usr/share/centreon/www/include/configuration/configObject/host/DB-Func.php) doesn't make differences between normal update and massive change.
When you do a massive change the mentioned fields are set empty by the GUI when opening the page. So on save the sanitizeFormHostPara

[2021-10-06 09:53] StefThomas commented on #8127
And Centreon Engine use this :

[1633510813] [22903] Configuration reloaded, main loop continuing.

and Broker this :

[1633466023] error:   mysql_connection: Duplicate entry '5469-133319' for key 'host_service_unique_id'

I don’t natively understand Unix time, I’m pissed having to do `date -d@XXXXXXXXXX` when analyzing logs. AFAIK there is no option to get a human readable timestamp. (I’ll check

[2021-10-06 12:19] rmorandell-pgum opened #10251 "UI Notification Sound not working and showing error in console"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***
[code]
***Operating System***

*CentOS Linux release 7.8.2003 (Core)*

***Browser used***

- [x] Google Chrome Version 94.0.4606.71
- [x] Firefox 69.0.1
- [ ] Internet Explorer IE11
- [ ] Safari

### Description

No more UI Notifications sounds where played.   In the version < 21.04

### Steps to Reproduce

the sounds also don't work when

[2021-10-06 19:56] gagzou commented on #10166
@ponchoh
It works !

[2021-10-07 09:05] BenoitPoulet opened #10257 "Gorgone’s private key are world readable"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

At least, every version after 20.10

***Operating System***

CentOS

### Description

The Gorgone’s private key has bad filesystem right, everyone can read it :
[code]

### Steps to Reproduce

Please describe precisely the steps to reproduce the encountered issue.

1. Install Centreon
2. Look the file’s rights

### Describe the received

[2021-10-07 09:13] #10257 closed, assigned to nobody

[2021-10-07 13:55] lpinsivy commented on #10166
Thank you @ponchoh for your workaround.

Will be fixed by PR #10250

[2021-10-07 14:03] #10193 closed

[2021-10-07 14:45] lpinsivy commented on #6596
@ppoektos this issue was discribed for following versions:
Centreon version 2.8.22
Centreon Engine 1.8.1
Centreon Broker 3.0.14

They are no more supported and I suppose the bug is no more present into Centreon 21.04.
If is still present, you can reopen this issue

[2021-10-07 14:45] #6596 closed

[2021-10-07 15:13] lpinsivy commented on #10109
Sorry @lucmichalski, we didn't plan to change technology used to develop our mobile application.

[2021-10-07 15:24] #10040 closed

[2021-10-07 15:44] lpinsivy commented on #9884
Hi @kozfelipe CLAPI will have incompatibility between major version but we used to fix a lot of issue with latest versions

[2021-10-07 15:44] #9884 closed

[2021-10-07 16:00] romnvll commented on #10141
Merci

Le jeu. 7 oct. 2021 à 16:49, Laurent Pinsivy ***@***.***> a
écrit :

[2021-10-07 16:05] nmagniezCentreon commented on #9559
Hello,

This has been fixed in 20.10.7.

Best

[2021-10-08 09:28] lpinsivy commented on #9822
@nmagniezCentreon I suppose you talk about 21.10 and not 22.10 ;)

[2021-10-08 09:33] #9955 closed

[2021-10-08 09:55] lpinsivy commented on #9867
@neutron3909 Since Centreon 19.x we replaced centcore process by gorgoned.
Be sure that you move to gorgoned (regarding documentation)

[2021-10-08 09:59] lpinsivy commented on #9402
Can you try to install gorgone on the poller and move from SSH to Gorgone communication?

[2021-10-08 13:08] raniaadouni opened #10265 "SQLSTATE[HY000]: General error: 1517 Duplicate partition name pxxxxxxx"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]
centreon-auto-discovery-server-20.10.4-3.el7.centos.noarch
centreon-base-config-centreon-engine-20.10.12-2.el7.centos.noarch
centreon-broker-20.10.7-1.el7.centos.x86_64
centreon-broker-cbd-20.10.7-1.el7.centos.x86_64
centreon-broker-cbmod-20.10.7-1.el7

[2021-10-09 07:41] GuerchetM opened #10270 "Accidently Remove Poller"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

*CentOS 7*

***Browser used***

- [ x] Firefox

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.):***

### Description
I hava accidently remove 2 poller in my configuration. I have restored the ce

[2021-10-09 08:53] GuerchetM commented on #10270
This was solved doing this :
in centreon_storage
[code]
[code]
Export Configuration and restart poolers

[2021-10-11 07:40] joschi99 opened #10271 "Broker duplication is not working"
[code]

It is not possible to duplicate a broker configuration though GUI.

[2021-10-11 10:04] joschi99 opened #10272 "Poller creation wizard is not working"
[code]

The wizard to create a new Poller is not more working, completing all tasks/pages not Poller configuration will be created

[2021-10-12 07:57] watchix opened #10279 "[Command] - os-linux-snmp-traffic-name - don't querry with custom port"
Hi,

I've added on my host template the relation : "OS-linux-Traffic-Generic-Name-SNMP-custom"
This template is ok with my hosts who SNMP port is 161

But for others hosts with a custom port (not 161), the executed check command don't comport the `--snmp-port='xxx'` argument ...

NOK command : `/usr/lib/centreon/plugins/centreon_linux_snmp.pl --plugin=os::linux::snmp::plugin --mode=interfaces --ho

[2021-10-12 12:12] omercier commented on #9927
Hi @Trunxsnot,
We have released a lot of stability fixes since you logged your issue.
A new minor release is about to be out, please try reproducing your issue with these new versions:

- centreon-broker-20.10.8
- centreon-engine-20.10.7
- centreon-clib-20.10.4
- centreon-connectors-20.10.3

Regards,
Olivier

[2021-10-14 11:14] dellarte opened #10302 "Plugin templates not listed in host configuration"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

[code]

***Operating System***

*CentOS*

***Browser used***

- [x] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

***Additional environment details (AWS, VirtualBox, physical, etc.): Deployed from official OVA on VMWware***

### Description

I just did my centreon fresh_install via an OVA deployment.
Everything w

[2021-10-14 11:22] cedrobert opened #10303 "Impossible to delete comments for svc in distant poller"
# BUG REPORT INFORMATION

### Prerequisites

Centreon 21.04.2

centreon-21.04.2-15.el7.centos.noarch
centreon-auto-discovery-server-21.04.0-1.el7.centos.noarch
centreon-awie-21.04.0-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.04.2-15.el7.centos.noarch
centreon-broker-21.04.1-1.el7.centos.x86_64
centreon-broker-cbd-21.04.1-1.el7.centos.x86_64
centreon-broker-cbmod-21.04.1-1.el7.cent

[2021-10-14 11:27] BenoitPoulet opened #10304 "[API v1] disable/enable a host => don’t trigger "Conf Changed" for pollers"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

centreon-web-20.10.11
centreon-web-21.10.0-beta.1

### Description

with the configuration API (V1) disable/enable a host don’t trigger "Conf Changed" for pollers

### Steps to Reproduce

**Post the following into the API V1**
URL : http://10.66.113.52/centreon/api/index.php?action=action&object=centreon_clapi

Body :
[code]

### Describ

[2021-10-14 12:06] #10302 closed

[2021-10-14 13:20] lpellissier opened #10305 "Invert checkbox for curve object cannot be toggled"
***Versions***

Centreon 21.04.7 (OVA) :
centreon-21.04.7-3.el7.centos.noarch
centreon-auto-discovery-server-21.04.1-2.el7.centos.noarch
centreon-base-config-centreon-engine-21.04.7-3.el7.centos.noarch
centreon-broker-21.04.3-1.el7.centos.x86_64
centreon-broker-cbd-21.04.3-1.el7.centos.x86_64
centreon-broker-cbmod-21.04.3-1.el7.centos.x86_64
centreon-broker-core-21.04.3-1.el7.centos.x86_64
centreo

[2021-10-18 15:37] R00T88 opened #10318 "centreonLDAP.class.php error"
BUG REPORT INFORMATION

Version:

20.10.12

We have configure LDAP authentication for centreon but we are facing issue on LDAP user refresh

Error in /var/log/centreon/centAcl.log

[2021-10-18 17:23:02] According to DB another instance of centAcl.php is already running and I found 0 process...
Correcting the state in the DB, by setting the `running` value to 0 for id =  3
PHP Fatal error:  Allowed

[2021-10-19 13:20] lpinsivy commented on #10014
@itsul can you compare the schema of centreon.host with this one:
[code]

Specially this part:
[code]

[2021-10-19 13:25] ptitpopey opened #10328 "Upgrade 20.10.12 -> 21.04 - CBD Process KO"
# BUG REPORT INFORMATION

Hello, after upgarde centreon central server from 20.10.12 to 21.04, cbd process crash with log :

Centreon Broker 21.04.3 log file opened
[2021-10-19 14:54:48.613] [core] [info] protocols: registering protocol ('bam' (layers 1-7)
[2021-10-19 14:54:48.614] [core] [info] protocols: registering protocol ('storage' (layers 1-7)
[2021-10-19 14:54:48.615] [core] [info] protoco

[2021-10-21 07:40] rmorandell-pgum commented on #10014
Yes confirm ...

i fixed it in the mean time (just a quick fix) for me changing the ltrim function with a substring in the sanitizeFormHostParameters of
www/include/configuration/configObject/host/DB-Func.php class.

the ltrim just cuts of the "mc_c" and not only the "mc_".

https://stackoverflow.com/questions/23089101/php-rtrim-and-ltrim-are-trimming-more-than-supposed-to

 case 'mc_cg_additive_i

[2021-10-22 14:52] delmelo opened #10357 "[Database] Add option to use SSL / TLS option to connect to MariaDB databases"
### Feature explanation

I would like to enable SSL option for connecting to my MariaDB server and avoid using _login:password_

In _conf.pm_, we can only set "db_user" and "db_passwd"
`$centreon_config = {
...
"db_user" => value,`
`"db_passwd" => value`
`};`

Also in _centreon.conf.php_, we can only set **$conf_centreon['user']** and **$conf_centreon['password']**

### What is the value of the wa

[2021-10-27 09:09] t3chbg opened #10372 "Poller not running after upgrade to 21.04"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

For the deb based systems

-- Copy/Paste the result of the following command --
[code]
***Operating System***

*NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)".*

***Browser u

[2021-10-28 09:39] SkanderRedjel opened #10373 ""Action URL" translated in a wrong/bad encoding in PagerDuty"
Hello,

I use Centreon for monitoring, and i send Centreon alerts to my PagerDuty account, the problem is that i mention some URL in the "SERVICE --> Extended Info --> Action URL" and when PagerDuty recieve the alert, the link is badly displayed with a bad encoding, here is an example :

**Action URL in Centreon : https://test.url.com
Link displayed by PagerDuty: https%3A%2F%2Ftest.url.com%2F**

I

[2021-10-29 10:38] pdergane opened #10375 "UI not fully translated"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***
21.04.3

For the RPM based systems
[code]

***Operating System***

*Red Hat Enterprise Linux 8.4 *

***Browser used***

- [x] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

### Description
When deploying Centreon on Linux Server where locale is set to en_US.UTF-8, the change of language in UI to French for example

[2021-10-29 13:06] romnvll opened #10376 "Clapi et description des macros"
Bonjour,
Quand nous voulons exporter un HTPL en mode "subset" :
centreon -u admin -p admin -e --select='HTPL;htpl-os-cisco-routeur'

La description des macros n'est pas exportée .

Je ne sais pas si c'est un bug ou non ...

Bonne journée

[2021-11-02 10:50] ptitpopey commented on #10328
Hi,
I have follow the procedure step by step : https://docs.centreon.com/21.04/en/upgrade/upgrade-from-20-10.html.
The cbd process has correctly stopped before upgrade

[2021-11-02 15:10] ptitpopey commented on #10328
How i can help you to debug this problem ?

[2021-11-02 15:22] ptitpopey commented on #10328
/var/log/centreon-broker/central-module-master.log

Centreon Broker 20.10.7 log file opened
[1635857762] error:   Attempt to read data from peer localhost:5669 on a closing socket
[1635857762] error:   failover: 'central-module-master-output' cannot connect endpoint.
[1635857765] error:   failover: 'central-module-master-output' cannot connect endpoint.
[1635857788] error:   Attempt to read data f

[2021-11-02 16:29] GuerchetM commented on #10064
I have the same issue, in my case I see old and desactivate poller in the list

[2021-11-05 09:13] elmarsievers opened #10394 "Timeout web UI changed after upgrading to 2110"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

centreon-21.10.0-2.el7.centos.noarch
centreon-auto-discovery-server-21.10.0-3.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.0-2.el7.centos.noarch
centreon-broker-21.10.0-2.el7.x86_64
centreon-broker-cbd-21.10.0-2.el7.x86_64
centreon-broker-cbmod-21.10.0-2.el7.x86_64
centreon-broker-core-21.10.0-2

[2021-11-05 14:44] GuillaumeHAL commented on #8473
Hi,

Same problem, I have "LDAP AUTH : LDAP synchronization on login is enabled" even "LDAP Synchronization on login" in Administration menu is enabled...

If synchronization is manually asked (Menu: Configuration > Users > Contacts / Users   and click on blue icon of 'Refresh' column), LDAP synchronization works when user reconnect to GUI...

As if the calculation of the duration since the last s

[2021-11-05 15:05] jeremyit commented on #10394
Same issue since 2110 upgrade. No logout in 2104.

[2021-11-05 15:58] jeremyit opened #10397 "Widget service monitoring 21.10"
Widget service monitoring does not display icon in 21.10 version. Ok in 21.04. passive_check.png and chart.png not refer to /centreon/img/icons/
Error :"not allowed to display". I've compared with 21.04, path to png are false.

[2021-11-08 07:37] cedrobert commented on #10303
Up

[2021-11-08 10:47] waaalex opened #10398 "No icons on 21.10"
Hello,
Updated from 20.10 to 21.10.
Minor issue with GUI.
As you can see, there's no icons on first page Home  >  Custom Views
![image](https://user-images.githubusercontent.com/33757865/140728815-447ca78b-e84f-4bc8-8fc9-42b7bbbf5bdb.png)

Thanks for feedback ;)
Alex.

[2021-11-08 11:42] vhsantos commented on #10394
We are having the same problem since the last update.

[code]

[2021-11-08 12:27] jeremyit commented on #10398
I think you have this problem only on service widget like me : https://github.com/centreon/centreon/issues/10397#issue-1046002908

Downgrade your service monitoring widget to 21.04 and icons come back

[2021-11-08 12:39] waaalex commented on #10398
Thank you @jeremyit
I close this case.

[2021-11-08 12:39] #10398 closed

[2021-11-09 07:27] elmarsievers commented on #10394
HI,

some more information, why it is so important for our team: We've a monitoring TV without any user sitting before it, just for all from our team to watch at the system environment status.

So if there is a logout happening all xx minutes it is really annoying for us.

Kind Regards

[2021-11-09 10:04] jeremyit commented on #10394
@elmarsievers  the same for our team  :-/

[2021-11-09 15:04] lpinsivy commented on #10394
Hi,

Can you h-check the value of session.gc_maxlifetime from /etc/php.d/50-centreon.ini
With default Centreon upgrade you should have:
[code]

[2021-11-09 15:05] lpinsivy commented on #10303
Hi @cedrobert can you check if Gorgone on the distant poller is running and connected to the gorgone of the Central server?

[2021-11-09 15:07] lpinsivy commented on #10397
Will be fixed by https://github.com/centreon/centreon-widget-service-monitoring/pull/181

[2021-11-09 15:07] lpinsivy commented on #10397
@jeremyit try to apply this patch: https://github.com/centreon/centreon-widget-service-monitoring/commit/03febcf5c5866b8a17fe68fbc5848877ab098061

[2021-11-09 15:07] #10397 closed

[2021-11-09 15:08] lpinsivy commented on #10375
Hi @pdergane can you apply fix describe here https://github.com/centreon/centreon-documentation/pull/1145

[2021-11-09 15:09] #10375 closed

[2021-11-09 15:19] lpinsivy commented on #8473
Hi @GuillaumeHAL you are rights, it look like the update on login is achieved only if the last update is greater than 3600 seconds: https://github.com/centreon/centreon/blob/master/www/class/centreonLDAP.class.php#L971

[2021-11-09 15:22] lpinsivy commented on #8473
internal ticket MON-11594

[2021-11-09 15:25] jeremyit commented on #10394
@lpinsivy my file 50-centreon.ini has same values

[2021-11-09 15:25] lpinsivy commented on #10318
Hi @R00T88 you have a loop in your template (host or service).
You need to fix this to stop loop

[2021-11-09 15:25] #10318 closed

[2021-11-09 15:27] lpinsivy commented on #10394
And what is the value of "Sessions Expiration Time" field in "Administration > Parameters > Centreon UI" menu?

[2021-11-09 15:28] lpinsivy commented on #10376
Hi @romnvll I don't know if we will correct this for CLAPI but I add label to keep this in mind for APIv2

[2021-11-09 15:29] lpinsivy commented on #10304
you right, I add correct labels

[2021-11-09 15:31] lpinsivy commented on #10373
Hi @SkanderRedjel what do you use to forward Centreon alerts to PagerDuty?
Maybe you need to improve the script to encode correctly URL

[2021-11-09 15:50] lpinsivy commented on #10394
The date of MariaDB matches the system date?

[code]

[2021-11-09 15:51] lpinsivy commented on #10394
What is your account language in Centreon and what is the Centreon timezone (menu Administration > Parameters > Centreon UI)?

[2021-11-09 15:52] lpinsivy commented on #10357
Hi @delmelo this is in your roadmap.
Thank you for your feedback

[2021-11-09 15:58] jeremyit commented on #10394
date of MariaDB matches system date

Centreon timezone is Europe/paris
accoutn language is EN_US with Paris Timezone

[2021-11-09 20:28] ponchoh commented on #10060
👍  00102071

[2021-11-10 07:59] elmarsievers commented on #10394
HI ,

so /etc/php.d/50-centreon.ini was configured like your example. Changed to 13 hours (session.gc_maxlifetime = 46800), but cannot change minutes value in //Sessions Expiration Time" field in "Administration > Parameters > Centreon UI"//.

error message, if I set to 780:
Life duration of sessions. The value in minutes cannot be greater than the session.gc_maxlifetime value set in your php cent

[2021-11-10 11:41] cedrobert commented on #10303
Yes of course, gorgoned is started and connected.
Other function such reskedule check is working fine.

[2021-11-10 14:46] ptitpopey commented on #10372
Same problem in this issue : https://github.com/centreon/centreon/issues/10328

[2021-11-10 16:26] lpinsivy commented on #10372
Hi,

If you stop cbd process on Central server, do you have ghost process listing on 5670 port?

Can you try to stop cbd, remove all queue files from /var/lib-centreon-broker and start cbd?

[2021-11-10 16:30] lpinsivy commented on #10303
Can you check in /var/log/centreon-engine/retention.dat if the comment is present?

[2021-11-10 16:33] lpinsivy commented on #10272
hi @joschi99 can you execute the following SQL request on your 'centreon' database:

[code]

[2021-11-10 16:43] ptitpopey commented on #10372
before stop process cbd

(root@centreon)-(~)# ps -edf | grep cbd
centreo+ 18772 18770  0 nov.02 ?       01:25:38 /usr/sbin/cbd /etc/centreon-broker/central-rrd.json
centreo+ 21800 18770  2 17:38 ?        00:00:00 [cbd] <defunct>
root     21808 21776  0 17:38 pts/0    00:00:00 grep --color=auto cbd

after stop
(root@centreon)-(~)# ps -edf | grep cbd

(root@centreon.)-(~)# cd /var/lib/centreon-broke

[2021-11-10 16:48] lpinsivy commented on #10372
Can you try to update to latest version of engine/broker/connectors/clib on pollers and central server?

[2021-11-10 16:53] ptitpopey commented on #10372
How I can do that ?

[2021-11-10 19:24] joschi99 commented on #10272
[code]
2 rows in set (0.000 sec)

[2021-11-11 04:40] t3chbg commented on #10372
I think it might have something to do with this.  We noticing the /var/lib/centreon-broker volume filling up immediately. The volume was 5GB and filling up, so I expanded it to 30gb…still filling up.

![image001](https://user-images.githubusercontent.com/60702255/141238269-b938377b-0158-4f52-874d-a6a17b9c283a.png)

Could someone else confirm if they seeing the same behavior?

[2021-11-11 07:38] ptitpopey commented on #10372
on my server the space disk is ok

Sys. de fichiers             Taille UtilisÃ© Dispo Uti% MontÃ© sur
devtmpfs                       1,9G       0  1,9G   0% /dev
tmpfs                          1,9G       0  1,9G   0% /dev/shm
tmpfs                          1,9G    183M  1,7G  10% /run
tmpfs                          1,9G       0  1,9G   0% /sys/fs/cgroup
/dev/mapper/centos-root         26G    8,6G

[2021-11-11 07:49] ptitpopey commented on #10372
Anoher error on log file central-broker-master.log (cannot find event category 'correlation')

# tail -f central-broker-master.log
[2021-11-11T08:48:05.116+01:00] [core] [info] modules: attempt to load '/usr/share/centreon/lib/centreon-broker/10-neb.so' which is already loaded
[2021-11-11T08:48:05.116+01:00] [core] [info] modules: attempt to load module '/usr/share/centreon/lib/centreon-broker/20-

[2021-11-11 08:21] ptitpopey commented on #10328
cbd process with central-broker.json crach :
/usr/sbin/cbd -d /etc/centreon-broker/central-broker.json
[1636618665] config:  endpoint applier: new filtering element: 65551
[1636618665] config:  endpoint applier: new filtering element: 393217
[1636618665] error:   core: cannot find event category 'correlation'

cat /etc/centreon-broker/central-broker.json
`cat /etc/centreon-broker/central-broker.js

[2021-11-11 09:34] lemrouch commented on #9352
Hi,
I have the same problem. I think it's the same for all pages with `is_react=1` in topology table.
Did you have any luck solving this?

[2021-11-12 08:23] BenoitPoulet commented on #9352
Try with the Apache config (virtual host) delivered by Centreon.

From my memory i solved this this way, because i was using a custom vhost file who were not compatible.

[2021-11-12 09:35] bouda1 commented on #10372
Do you have a file `/usr/share/centreon/lib/centreon-broker/*-correlation.so` ?
If yes, can you remove it please?

[2021-11-12 10:56] ptitpopey commented on #10372
Hi,

Before upgrade version 20.10.12

ll /usr/share/centreon/lib/centreon-broker/
total 3,8M
-rwxr-xr-x 1 root root  473K 26 oct.  15:53 10-neb.so
-rwxr-xr-x 1 root root  134K 26 oct.  15:53 15-stats.so
-rwxr-xr-x 1 root root 1009K 26 oct.  15:53 20-bam.so
-rwxr-xr-x 1 root root  664K 26 oct.  15:53 20-storage.so
-rwxr-xr-x 1 root root  146K 26 oct.  15:53 30-correlation.so
-rwxr-xr-x 1 root root

[2021-11-12 11:04] bouda1 commented on #10328
You have a filter in your sql output containing the correlation. Could you remove it please.

[2021-11-12 13:00] ptitpopey commented on #10328
Hello,

When I remove correlation filter, everythigs works. Thanks a lot for your help.

![image](https://user-images.githubusercontent.com/14994180/141471057-fe3e264e-3b99-4e6c-bea1-3808073d4443.png)

[2021-11-12 13:04] ptitpopey commented on #10372
Problem solved

View this issue : https://github.com/centreon/centreon/issues/10328

[2021-11-12 15:00] omercier commented on #10328
Thank you.
Regards,

[2021-11-12 15:00] #10328 closed

[2021-11-12 15:07] omercier commented on #10372
Hi @t3chbg,
Do you still have cbd blocked?
What I suggest you to do:
`systemctl stop cbd`
`rm -f /var/lib/centreon-broker/*`
`netstat -pluant | grep 5670`
If a process is already listening on port 5670 then it is the root cause or your issue, else cbd-rrd has trouble starting and we need to understand why:
`tail /var/log/centreon-broker/central-rrd-master.log`

[2021-11-15 08:30] t3chbg commented on #10372
![image](https://user-images.githubusercontent.com/60702255/141747747-de3cec42-a553-47cf-a5af-9101bcf5d252.png)

[2021-11-15 08:32] t3chbg commented on #10372
Restarted cbd and checked tail /var/log/centreon-broker/central-rrd-master.log
![image](https://user-images.githubusercontent.com/60702255/141748288-46f07e47-6911-49f8-836f-c2401d9a467d.png)

[2021-11-15 11:46] t3chbg commented on #8797
Hi,

We have experiencing the same problem after an upgrade from 20.04 to 21.04  - MYSQL partition has filled up and centreon broker also filled up very quickly after restarting cbd. Unable to get into access centreon web interface.
![image](https://user-images.githubusercontent.com/60702255/141776494-8499491a-4433-49fe-9dea-20ba3bda0100.png)

[2021-11-16 11:49] foss25 opened #10406 "Failover endpoint file don't exist anymore"
# BUG REPORT INFORMATION

***Versions***

For the RPM based systems
[code]

***Operating System***

CentOS Linux release 7.9.2009 (Core)

***Browser used***

- [ X ] Firefox

### Description

On poller system, we have an error when a failover (of file type) is configured:
[code]

### Steps to Reproduce

Please describe precisely the steps to reproduce the encountered issue.

1. Create a failover
2

[2021-11-16 19:35] joschi99 opened #10409 "21.04.8 - notification template are not more wokring - warning/errors on Poller export"
After upgrade to 21.04.8 export to Poller show's a lot of warnings and errors on user notification configuration. All users has a notification template attached, but Notification Period and Notification Command for services and hosts defined on notification template will not more considered.

![image](https://user-images.githubusercontent.com/6400595/142053337-248095b1-6c11-4dad-bed0-a4f51aa1e3e1.

[2021-11-18 16:21] lpinsivy commented on #10406
With latest version of Broker, you d'ont need to create a failover, it is automatic.
Please remove the failover File output and export the new configuration

[2021-11-18 16:24] lpinsivy commented on #10272
Can you open developer console and give me the return code and message of calls using this url:

`internal.php?object=centreon_configuration_remote`

[2021-11-18 16:50] joschi99 commented on #10272
![image](https://user-images.githubusercontent.com/6400595/142459768-7c055ddf-5e2a-4c38-bb88-4aea5ee0bef8.png)

[2021-11-19 05:52] cedrobert commented on #10064
Hello @nmagniezCentreon,
How can I provide you the log securely?
I dont wan't to put them in public on github.

[2021-11-19 06:48] cedrobert commented on #10303
Yes they are preset in the file on poller.

[2021-11-19 10:44] foss25 commented on #10406
Thanks a lot !
Perhaps, the upgrade documentation could be updated so :)

[2021-11-19 13:51] nmagniezCentreon commented on #10064
Hello cedrobert,

If the file is not so big, you can send it to me via email (nmagniez@centreon.com) otherwise, I let you choose file transfert tool of your choice.

[2021-11-22 13:15] omercier commented on #10409
Hi @joschi99
Can you show us how your contact templates are configured?
Or better, can you send us the result of
`centreon -u admin -p centreon -e | grep CONTACT`
Please wipe out your passwords' hashes before sending them ;-)
Thanks!

[2021-11-22 13:31] joschi99 commented on #10409
[code]

[2021-11-22 15:46] omercier commented on #10409
Thanks, we will try to reproduce your issue.

[2021-11-23 04:26] tallen116 opened #10426 "API v2 and internal graphs don't match RRD Tool output"
The API V2 and built in graphs don't match the RRD file timeframes.

# BUG REPORT INFORMATION

### Prerequisites

***Versions***
[code]
centreon-21.04.7-3.el8.noarch
centreon-auto-discovery-server-21.04.1-2.el8.noarch
centreon-base-config-centreon-engine-21.04.7-3.el8.noarch
centreon-broker-21.04.4-1.el8.x86_64
centreon-broker-cbd-21.04.4-1.el8.x86_64
centreon-broker-cbmod-21.04.4-1.el8.x86_64
cen

[2021-11-23 11:43] Midorip opened #10429 "Images dead links on custom views"
[root@CESWWW ~]# rpm -qa | grep centreon | egrep -v "(plugin|pack)" | sort
centreon-auto-discovery-server-21.10.1-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.0-2.el7.centos.noarch
centreon-broker-21.10.0-2.el7.x86_64
centreon-broker-cbd-21.10.0-2.el7.x86_64
centreon-broker-cbmod-21.10.0-2.el7.x86_64
centreon-broker-core-21.10.0-2.el7.x86_64
centreon-broker-storage-21.10.0-2.el7.

[2021-11-24 13:42] prohand opened #10433 "[21.10] Open ID with Azure AD error unable get token Introspection : Page not found"
Hello,

I followed this documentation:
https://docs.centreon.com/current/fr/connect/openid.html
And I indicated the requested information as put in Azure AD:

![image](https://user-images.githubusercontent.com/20227162/143249239-b95e9a81-7d79-45d4-a228-04d28a6cd603.png)

But I end up with the following error message in debug mode:

`[OpenId] [Error] Unable to get Token Introspection Information: R

[2021-11-24 15:23] lzmarouane opened #10436 "Central Database updates not active"
Hello everyone,
 I always get this bug no matter what, and I don't understand it: , the list of supervised services does not update and the following errors appear in the top left corner of the Centreon interface (Poller States):
- Pollers Central, Central not running
- Some database poller updates are not active; check your nagios platform
It happens every time and I can't fix it except by going

[2021-11-24 16:08] nmagniezCentreon commented on #10060
hello,
We've decided not to do it on purpose, this is not good practice and we prefere to let the user decide the way he/she wants to open a link (thanks to right click, middle click ctrl click)

[2021-11-24 16:08] #10060 closed

[2021-11-25 10:35] anthonymontebrun opened #10438 "Blank page when edit an check command"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]
$ dpkg -l | grep centreon
[code]
tail -f /var/log/php-fpm/centreon-error.log
[code]
tail -f /var/opt/rh/rh-php73/log/php-fpm/centreon-error.log
[code]
tail -f /var/opt/rh/rh-php72/log/php-fpm/centreon-error.log
[code]
tail -f /var/log/centreon-engine/c

[2021-11-25 11:20] #6377 closed

[2021-11-25 11:22] garnier-quentin commented on #7095
It's not relevant. Following processes use systemd.

[2021-11-25 11:22] #7095 closed

[2021-11-25 21:04] elfring opened #10439 "Increase the usage of expressions with combined operators"
### Feature explanation
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of combined operators](https://www.php.net/manual/en/language.operators.assignment.php#language.operators.assignment.arithmetic "Description for assignment operators") accordingly.

### What is the value of the wanted fe

[2021-11-29 09:21] omercier commented on #10409
Thank you Jochen, I finally managed to reproduce it I understand why.
We'll try to fix it soon!

[2021-11-29 10:29] TeXmeX66 opened #10445 "Error "Oops something went wrong" since update to 21.04.8"
Hi,

I have an error since last update of Centreon, de la 21.04 (VM provided by the website) to 21.04.8. When i navigate on the Centreon pages, i have regularly this error " Oops something went wrong". I checked the logs and saw this error in Gorgone :

Thank you for your help,

Regards.

[2021-11-29 20:06] kozfelipe opened #10450 "Monitoring Resources Status hostgroup filter not filtering"
Hi there,

Since I have upgraded from 21.04.4 to 21.04.8 the resources status monitoring is not able to filter by hostgroup.
The frontend sends the correct filtered request but the backend answers by ignoring this filter

Also the check button responsable for forcing recheck resource does'nt seem to take effect

[2021-11-30 09:50] zep-jonas commented on #10450
We also have this problem in 21.04.8

[2021-11-30 15:25] StefThomas opened #10454 "Impossible to force the check of a service using the API"
Hi,

Forcing a check of a service works fine when done from the UI, but when I try to do it using the API then I get the following error :

[code]
The host and service exist. A GET request on https://centreon_srv/centreon/api/beta/monitoring/hosts/7514/services/119167 works fine.

I first suspected a bug but I can’t manage to reproduce it on another plateform which has the same Centreon version. S

[2021-11-30 15:56] natg-kyr commented on #10445
Same problem right here, upgraded from 21.04 to 21.10 and can't connect to the web UI, same messages in red boxes but differences in gorgone logs error 500 :
[code]

[2021-11-30 16:46] omercier commented on #10409
Internal ref: MON-11760

[2021-12-01 08:07] Blubmann1337 commented on #10429
Could confirm the same problem.

centreon-21.10.1-1.el7.centos.noarch
centreon-auto-discovery-server-21.10.1-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.1-1.el7.centos.noarch
centreon-broker-21.10.0-6.el7.x86_64
centreon-broker-cbd-21.10.0-6.el7.x86_64
centreon-broker-cbmod-21.10.0-6.el7.x86_64
centreon-broker-core-21.10.0-6.el7.x86_64
centreon-broker-storage-21.10.0-6.el7.x86_6

[2021-12-01 15:05] StefThomas commented on #10454
Answer to myself : problem fixed (thx to strace…).

I had to set back group writting permission on the directory /var/lib/centreon/centcore (it belongs to centreon:centreon).

I still keep this issue open as there is a good probability that this is the Centreon HA setup which drops the group writting permission, which is obviously a bug.

Also, I‘d like to get some explanation from the developpers

[2021-12-01 18:32] Tpo76 opened #10457 "Centreon 21.10.1 Export and Reload shortcut feature with Self-Signed Certificate"
# BUG REPORT INFORMATION

### Prerequisites
Set up HTTPS with a self-signed certificate

***Versions***
Centreon Web 21.10.1

[code]

***Operating System***
*CentOS, Debian ...*
CentOS 7

***Browser used***

- [x] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 96.0.4664.45

### Description

When using the new feature to export and reload the configuration through t

[2021-12-02 01:09] luiscontrerasdo commented on #7514
On Centreon 21.04 I have the problem with it when importing from the command line:

centreon -u any -p any -i /tmp/file.txt

PHP Fatal error:  Uncaught Error: Class '\CentreonClapi\centreon' not found in /usr/share/centreon/www/class/centreon-clapi/centreonAPI.class.php:943
Stack trace:
#0 /usr/share/centreon/www/class/centreon-clapi/centreonAPI.class.php(807): CentreonClapi\CentreonAPI->iniObject

[2021-12-02 14:04] Soraphiroth commented on #9763
Hi, same problem with version 19.10.14. I updated to 19.10.23 and it persists. `login.log` and `ldapsearch.log` look the same as those from @AimPython. I verified the LDAP configuration in Centreon and without changing anything it works perfectly when I try to import users. But We still can't log in with our LDAP credentials.

[2021-12-02 15:11] StefThomas commented on #9763
Hi,

I discovered that in Active Directory, the server parameter _maxPageSize_ has a default value of 1000.

As a result, a LDAP search which returns more than 1000 records fails if not paginated. With ldapsearch, it fails (ie: stops at 100 records) if the option `-E pr=1000/noprompt` isn’t used.

I guess maybe Centreon is not using pagination when querying the AD server, hence the `LDAP Error : S

[2021-12-02 16:01] BenoitPoulet commented on #10303
Hello,

I have the same problem on 20.10 :

Central :
2021-12-02 16:51:35 - INFO - [legacycmd] Handling command 'EXTERNALCMD', Target: '11', Parameters: '[1638460293] DEL_SVC_COMMENT;6'
2021-12-02 16:51:35 - INFO - [engine] Processing external command '[1638460293] DEL_SVC_COMMENT;6'

Not a word on the Poller.

Gorgone : centreon-gorgone-20.10.5-1.el7.centos.noarch
Engine : centreon-engine-20.10.6

[2021-12-03 08:35] joschi99 opened #10460 "Centreon 21.04.8, 21.04.9 - links from top counters are reffering to deprecated pages and not ressource page"
Since 21.04.8 the links from TOP hosts/services are referring to the deprecated sites and not to resource status

![image](https://user-images.githubusercontent.com/6400595/144571277-2a08317b-9d72-44b3-9d93-ad7ccd636571.png)

[2021-12-03 10:59] jeremyit commented on #10394
up! very annoying behavior this timeout ...
How can I help you to resolve issue ?

[2021-12-04 08:06] szutman commented on #10394
Hello,

Same issue in my installation and this is very burdensome problem for us. Please find solution, because Centreon is our main monitoring solutions and login again sometimes after 10 minutes is very hard problem !!!

[2021-12-06 13:51] sanste78 commented on #9452
Hi,

I have the same bug, do you have a solution ?

Thank

[2021-12-08 09:48] cedrobert commented on #10064
Logs send by email.

[2021-12-09 10:06] BenoitPoulet commented on #9352
Not a bug . Was a PB with the Vhost

[2021-12-09 10:06] #9352 closed

[2021-12-09 10:10] BenoitPoulet commented on #8254
Still present on 20.10.11

![image](https://user-images.githubusercontent.com/2464712/145376666-ef322176-fdad-4284-a7f7-88fd68c19dd7.png)

[2021-12-09 11:17] BenoitPoulet opened #10475 "Enlarge some field in the service’s config page"
### Feature explanation

Some fields are too short in the service’s config page.

For example the Description field can not contain an simple URL.
Args field (for the $ARGx$) are very short too.

### What is the value of the wanted feature ?

At least the fields :
- Description
- Args

must be enlarged, they are way to short in a real usage.

And perhaps the Macro’s value field are too short.

###

[2021-12-09 15:06] jeremyit commented on #10394
Hi @lpinsivy ,

we use Local authentication

[2021-12-09 15:23] lpinsivy commented on #10394
@jeremyit do you use also your local account for CLAPI/API commands?

[2021-12-09 16:31] lpinsivy commented on #10394
@jeremyit and both (Centreon server and DBMS) are synchronized on the same NTP server?

[2021-12-09 16:34] jeremyit commented on #10394
I have only one Centreon server. All stuffs in one box :)

[2021-12-09 16:43] jeremyit commented on #10394
It's a physical server sync with NTP pool FR.
I've already check date/hour en that box

[2021-12-09 16:57] lpinsivy commented on #10394
@jeremyit your account is the 'admin' account?
Do you have Autodiscovery enabled in gorgoned?
[code]

[2021-12-09 17:04] jeremyit commented on #10394
No admin is renamed.
Autodiscovery is not used and disable.

2021-12-05 03:35:00 - INFO - [statistics] Collecting Engine statistics from target '2'
2021-12-05 03:35:19 - ERROR - [autodiscovery] -class- host discovery - cannot get platform versions - Login error [code: '500'] [message: 'Internal Server Error']
2021-12-05 03:36:19 - ERROR - [autodiscovery] -class- host discovery - cannot get platfor

[2021-12-09 22:38] octvcdrc commented on #10460
Hi,

Had the same issue, turns out "Use deprecated pages" setting was activated in user profile. You might want to check that.

![firefox_DOr4XOKHio](https://user-images.githubusercontent.com/9086425/145486935-36a3ee83-646f-452b-9161-26abd15acf09.png)

[2021-12-10 07:42] joschi99 commented on #10460
Yes, can confirm that is depending on the settings in the user profile. Thanks

[2021-12-10 07:42] #10460 closed

[2021-12-10 15:45] gmathieu69 commented on #9763
Hi
Yes I still the same issue with 20.10.14 on two different platform
I has worked before and I didn't change anything.
The search is ok I can see users and groups but not possible to connect "Your credentials are incorrect"
What is surprising me is that nothing appeared in /var/log/ldap.log
Geoffrey

[2021-12-10 16:03] StefThomas commented on #9763
@gmathieu69 : do you have anything in ldapsearch.log or login.log (same directory as ldap.log)?

also : what debug composants (Parameters > Debug) have you activated? I guess you should activate "Authentication debug" and "LDAP User Import debug". I’m not sure but I think it’s those settings which control the debug level for those logs.

Good luck.

The problem I have definitevely is different tha

[2021-12-10 16:15] alvarofvr opened #10479 "Composer update error"
![image](https://user-images.githubusercontent.com/13423318/145605447-ec0dc83e-fe97-4e49-93a9-10bcca89089c.png)

![image](https://user-images.githubusercontent.com/13423318/145605652-a5f6da6b-b56c-4af6-af33-b6fac36cf17a.png)

This broke all composer update using packagist.org.

![image](https://user-images.githubusercontent.com/13423318/145605757-040f54e5-81e8-4e60-9170-f2a46bb1a23e.png)

[2021-12-13 15:06] gmonvoisin opened #10486 "Centreon 20.04.3 - Problem in Widget Preferences (hostMulti)"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Centreon web 21.04.3

$ rpm -qa | grep centreon | egrep -v "(plugin|pack)" | sort
centreon-21.04.3-1.el7.centos.noarch
centreon-auto-discovery-server-21.04.1-2.el7.centos.noarch
centreon-base-config-centreon-engine-21.04.3-1.el7.centos.noarch
centreon-broker-21.04.2-3.el7.centos.x86_64
centreon-broker-cbd-21.04.2-3.el7.centos.x86_64
cent

[2021-12-13 15:13] lpinsivy commented on #10486
internal ticket MON-11891

[2021-12-13 15:15] lpinsivy commented on #10479
Hi @alvarofvr why do you try to build "dev-optimize-browser-configuration" branch?

[2021-12-13 15:18] lpinsivy commented on #10429
A new version of service-monitoring widget was released to fix this issue.
PR here: https://github.com/centreon/centreon-widget-service-monitoring/pull/181

[2021-12-13 15:18] #10429 closed

[2021-12-13 15:19] dmagniez opened #10487 "conf generation HS when last servicegroup disabled"
Hello,

In Centreon 21.10
when the last servicegroup is disabled, we can't generate configuration file anymore.

error thrown by PHP :

`==> /var/log/php-fpm/centreon-error.log <==
[13-Dec-2021 16:01:31 Europe/Paris] PHP Fatal error:  Uncaught TypeError: count(): Argument #1 ($value) must be of type Countable|array, null given in /usr/share/centreon/www/class/config-generate/servicegroup.class.php

[2021-12-13 15:38] lpinsivy commented on #10445
Hi,

Error with gorgone is independent of UI.

Can you check your Centreon Apache configuration and specially the LocationMatch directive?

You should have:
[code]

Then you need to rebuild the PHP Symfony cache using this command:
`su - apache -s /bin/bash -c "/usr/share/centreon/bin/console cache:clear" >> /dev/null 2>&1`

[2021-12-13 15:41] lpinsivy commented on #10433
Hi @prohand can you try to remove /introspection from your OIDC definition?

[2021-12-13 15:41] lpinsivy commented on #10487
Thank you @dmagniez for your feedback

Internal ticket MON-11848

[2021-12-13 15:42] lpinsivy commented on #10394
Internal ticket MON-11884

[2021-12-13 15:42] #10270 closed

[2021-12-13 15:48] lpinsivy commented on #10272
Hi @joschi99 can you give me your Apache configuration?

Can you check also if you have this file on the FS of Centreon: /usr/share/centreon/src/CentreonRemote/Application/Webservice/CentreonConfigurationRemote.php

[2021-12-13 16:16] prohand commented on #10433
Hello,

Same problem.

Thank you

[2021-12-13 17:27] alvarofvr commented on #10479
The dependency centreon/centreon not exist in my whole project (not even as a sub dependency), and I think the errors comes from online repo: https://repo-eu-uk-1.packagist.org during a composer phase. Today I tried to update composer 1 and rerun composer update and magically it worked. I don't know at this point if the problem was related (as described above) to the packagist, your repository or

[2021-12-13 18:04] prohand commented on #10433
I use centreon 21.10.1

With debug mode:

If I don't put the / introspect, when I click on the button "Connect with openid" nothing happens and nothing in the logs

On the other hand, when I put the / introspect I am redirected to the Microsoft page which asks me for my credentials.
Once logged in, I am redirected to the centreon login page with the following message in login.log:

`[OpenId] [Erro

[2021-12-13 21:02] joschi99 commented on #10272
Hi @lpinsivy ,
the file is present:
[code]
We are using the standard Centreon Apache configuration

[2021-12-14 08:43] lpinsivy commented on #10445
Fix defined here: https://thewatch.centreon.com/platform-7/bug-since-update-to-centreon-21-04-9-183?postid=368#post368

[2021-12-14 08:43] #10445 closed

[2021-12-14 09:16] lpinsivy commented on #10272
@joschi99 can you create a ticket on support and I will propose you a teamviewer session.

Regards

[2021-12-14 09:18] #10479 closed

[2021-12-14 09:20] lpinsivy commented on #10279
Hi,

The best wy is to duplicate command, modify it, then select duplicated command in OS-linux-Traffic-Generic-Name-SNMP-custom tempalte.

[2021-12-14 09:20] #10279 closed

[2021-12-14 09:32] nmagniezCentreon commented on #10450
Hello,
Indeed, there was a bug. It is now fixed and will be available in the next 21.04 version (21.04.10).
Best

[2021-12-14 15:05] kduret commented on #10394
@jeremyit could you try this fix ? https://github.com/centreon/centreon/pull/10493/files

[2021-12-14 15:41] #10450 closed

[2021-12-14 15:56] lpinsivy commented on #9452
Hi,

Fixed with Centreon 21.10.8 => https://docs.centreon.com/20.10/en/releases/centreon-core.html#20108

[2021-12-14 15:56] #9452 closed

[2021-12-14 16:13] #10454 closed

[2021-12-15 09:23] jeremyit commented on #10394
yes! It's fixed.
thank you

[2021-12-16 08:28] cedrobert commented on #10064
Hi, have you got the mail?

[2021-12-16 08:32] nmagniezCentreon commented on #10064
Hi Cedric,

Yes, I received them thanks. I'll let you know soon about investigation status.

Best,
Nils

[2021-12-16 09:30] adouren opened #10497 "check script bash"
Hello everyone,

### Feature explanation

I want to monitor a bash script "script.sh", which is executed in service.

ps -eaf:

/ bin / bash / data // scripts / script.sh

### What is the value of the wanted feature ?

/usr/lib/centreon/plugins/centreon_linux_snmp.pl --plugin = os :: linux :: snmp :: plugin --mode = processcount --hostname = 10.21.2.227 --snmp-version = '
2c '--snmp-community =' r

[2021-12-16 14:48] TeXmeX66 commented on #10445
Hi, i applied the directive for 21.04.x in 10-centreon.conf but it's not working

[code]

[2021-12-17 09:38] DowXor opened #10502 "Can't set comment for multiple services on resources view"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***
[code]

***Operating System***
*RedHat 7*

***Browser used***

- Google Chrome
- Firefox
Version: Up to date

***Additional environment details (AWS, VirtualBox, physical, etc.):***
centreon-central on AWS

### Description

I can't set comment for multiple services or hosts on resources view. When I select just one item, the "Add comment"

[2021-12-17 15:05] adouren commented on #10497
response

usr/lib/centreon/plugins/centreon_linux_snmp.pl --plugin=os::linux::snmp::plugin --mode=processcount --hostname=XXX.XXX.XXX.XXX --snmp-version='XX' --snmp-community='XXXXX'  --process-name='bash' --process-path='' --process-args='script.sh' --regexp-name --regexp-path --regexp-args --warning='' --critical='1:' --memory --cpu --verbose

[2021-12-17 15:05] #10497 closed

[2021-12-18 01:08] alexandre30290 commented on #10433
Hi !

Please help us to solve this problem.
This functionnality is really important for our company et we're blocked with this bug...

Someone have solution to solve it please ??

Thanks a lot ;)

[2021-12-20 20:18] alexandre30290 commented on #10433
Hello everyone,

nobody have a solution to solve it ?

Thanks

[2021-12-20 20:22] cristianandres9 opened #10508 "Centreon 20.04 after logging in the screen does not end"
Prerequisites
Versions

For the RPM based systems
`[root@centreon]# rpm -qa | grep centreon
centreon-engine-extcommands-20.04.13-7.el7.centos.x86_64
centreon-plugin-Operatingsystems-Windows-Snmp-20211102-130335.el7.centos.noarch
centreon-gorgone-20.04.11-1.el7.centos.noarch
centreon-plugin-Applications-Monitoring-Centreon-Map4-Jmx-20211102-130335.el7.centos.noarch
centreon-widget-live-top10-memory

[2021-12-22 09:27] elmarsievers commented on #10394
its'fixed here too. Great job.

thank you.

happy christmas

[2021-12-22 09:31] MelissaB79 opened #10509 "[API v2] services state undefined in requests with show_service param"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Tested with centreon v20.04, v20.10 and v21.10.

***Operating System***

*CentOS*

### Description

In the documentation of API v2, it's possible to get service state with the param "show_service=true" for the four next requests.
https://docs.centreon.com/api/centreon-web/21.10/#tag/Service-group/paths/~1monitoring~1servicegroups/get
htt

[2021-12-24 00:22] raufis27 commented on #10394
I just noticed that since last update I have the same errors and pooler doesn't update. Applied fix provided above but it didn't help.

`2021-12-23 19:15:00 - INFO - [cron] Launching job 'engine_stats'
2021-12-23 19:15:00 - INFO - [statistics] Collecting Engine statistics from target '1'
2021-12-23 19:15:39 - ERROR - [autodiscovery] -class- host discovery - cannot get platform versions - Login err

[2021-12-29 10:28] BenoitPoulet opened #10521 "List services/host who use check commands"
### Feature explanation
In  "Configuration  >  Commands  >  Checks"

We can see the number of host or service (template or not) who use the check commands, but we are unable to list them.

![image](https://user-images.githubusercontent.com/2464712/147652579-eefe6032-15c8-4a71-bc9c-8b6106704325.png)

### What is the value of the wanted feature ?

The listing is needed to manage check commands.
With

[2021-12-30 13:50] TanguyFournier commented on #10487
I'm facing the same issue except it doesn't look like it is limited to servicegroups. Instead, it seems to affect services as well.

Centreon version 21.10.1
/var/log/php-fpm/centreon-error.log
[code]

[2021-12-30 15:04] grzywak97 commented on #10394
Hi,
Same issue after my upgrade.
I followed by @kduret and it's propably works, but still i can't change session expiration time. I want to change from 120 minutes to 5 days (7200 minutes) We have monitoring team and it's annoying to log in every 2 hours. It is the same problem like @elmarsievers had. I changed session.gc_maxlifetime saved file and I tried to change value. I don't know if I have t

[2021-12-30 16:56] bissaccod commented on #10328
Hello, I have the same issue without module correlation selected.
my central-module-master.log write:
[core] [info] modules: attempt to load '/usr/share/centreon/lib/centreon-broker/50-tcp.so' which is already loaded
 [core] [info] modules: attempt to load '/usr/share/centreon/lib/centreon-broker/15-stats.so' which is already loaded
 [tcp] [error] TCP: Connection refused to localhost:5669
failover

[2021-12-30 17:03] bissaccod commented on #10328
Hello,
on cbd log I have this:
[cbwd] [error] cbd instance with PID 13323 has stopped, attempt to restart it
cbwd[3694]: [2021-12-30 18:01:58.591] [core] [info] Centreon Broker 21.10.0
cbwd[3694]: [2021-12-30 18:01:58.592] [core] [info] Copyright 2009-2021 Centreon
cbwd[3694]: [2021-12-30 18:01:58.592] [core] [info] License ASL 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
cbwd[3694]: [2021-12-

[2021-12-30 17:07] TanguyFournier commented on #10487
We found the culprit ! A service inheriting from a disabled template had been created in the meantime.
Too bad that it doesn't pop up a clearer error message. In addition, except if i miss something, **it should not be possible to select a disabled template when creating a new host/service/contact**...

[2021-12-30 17:49] ptitpopey commented on #10328
Please send your config file : /etc/centreon-broker/central-broker.json.

And try to launch cbd in debug mode
/usr/sbin/cbd -d /etc/centreon-broker/central-broker.json

Your config file is missing or the syntax is not good (Error during cbd exit: config parser: endpoint of invalid type 'file')

[2021-12-30 18:09] bissaccod commented on #10328
Hello,
attached central-broker.json
[central-broker.zip](https://github.com/centreon/centreon/files/7794085/central-broker.zip)
if I try to start cbd in debug mode, it ends with the same error message:
Error during cbd exit: config parser: endpoint of invalid type 'file'

[2021-12-30 18:27] bissaccod commented on #10328
it seams that the problem is this,
https://github.com/centreon/centreon/issues/10406

[2022-01-03 14:14] omercier commented on #10328
Hi @bissaccod,
Yes it is the same issue, have tried removing all your "file" outputs and deleting the "failover" fields from all your other outputs?
It should solve your problem.
Regards,

[2022-01-03 14:16] omercier commented on #10406
Hi @foss25,
I understand your problem is solved.
Regards

[2022-01-03 14:16] #10406 closed

[2022-01-03 15:53] omercier commented on #10409
Fixed by https://github.com/centreon/centreon/pull/10469

[2022-01-03 15:53] #10409 closed

[2022-01-03 16:49] bissaccod commented on #10328
Thanks,
This solve the problem.

Davide Bissacco
System & Network Administrator

***@***.*** | T: +39 0424 547 839 | M: +39 345 053 8227 |
www.favini.com<http://www.favini.com> | Favini S.r.l. | Via Alcide De Gasperi, 26 | 36028 Rossano Veneto (VI) | Italy

[cid:bannerecovadis3_df468ba1-d342-4f3a-b43c-03b7eceae866.jpg]<https://www.favini.com/en/press-release/favini-awarded-with-ecovadis-gold-medal

[2022-01-04 11:12] tlierdotfr opened #10538 "All Pollers down and All service status to Unknown periodically after backup"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

[code]

***Operating System***

[code]

***Browser used***

- [x] Google Chrome

***Additional environment details (AWS):***

### Description

Every few days, our Centreon platform seems to be frozen.
Every pollers are RED and every Services and Host are Unknown.
Although all perfdata are still OK. It's only se

[2022-01-04 16:30] anthoc commented on #9782
+1

[2022-01-07 15:20] websylv commented on #10433
Same issue for me

[2022-01-07 17:02] q-lng opened #10551 "Graphite output not working since 21.10 update"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

*CentOS*

***Browser used***

- [x] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

### Description

Since updating from 2.8 all the way to 21.10 (2.8 > 18.10 > 19.04 > 19.10 > 21.10), my Graphite output

[2022-01-07 17:14] MajorFault commented on #10120
With Centreon 21.04.10 and Firefox 95.0.2 I don't have this problem anymore.
@ArnoMdlt Can you confirm it is solved for you too?

[2022-01-10 05:58] cedrobert commented on #10303
Can I have some news?

[2022-01-10 06:00] cedrobert commented on #10064
Can I have some news?

[2022-01-10 13:15] adr-mo commented on #10064
Hi @cedrobert,

This issue has been fixed on next versions of the 21.04.x. I can see that you're running the 21.04.4. You might need to upgrade your platform to the latest version (https://docs.centreon.com/21.04/en/releases/centreon-core.html#210410)

Regards

[2022-01-11 08:26] ArnoMdlt commented on #10120
Yes @MajorFault, seem's ok for me too with 21.04.10.

[2022-01-11 08:46] nmagniezCentreon commented on #10120
Indeed, we fixed the issue in 21.04.10 version. Sorry for not updating.

[2022-01-11 08:46] #10120 closed

[2022-01-12 13:05] watchix commented on #8797
Hi,

We are having the same problem ... since upgrade 19.10 to 21.04
Initial install from ISO.
Upgraded last week...
![image](https://user-images.githubusercontent.com/2278299/149145432-1a3149c3-d326-4736-b993-b2ebe229b0fb.png)

Regards,

[2022-01-12 21:43] Athar42 opened #10562 "Icons in custom views not working (after upgrade from 20.04 to 20.10)"
***Versions***

[code]

***Operating System***

```CentOS Linux release 7.9.2009 (Core)```

***Browser used***

- [X] Google Chrome
- [X] Firefox
- [X] Edge

Version: Always latest available

***Additional environment details (AWS, VirtualBox, physical, etc.):***
```VMware ESXi```

### Description

-- Describe the encountered issue --
While accessing, after the upgrade from 20.04 to 20.10, the Cus

[2022-01-14 13:54] tizianosartori commented on #10394
this works out for us

[2022-01-14 17:31] yunopie opened #10566 "CLAPI : PHP warnings ; parameters not working"
Get errors when using CLAPI
Also was using service template object, with action getparam and some of the parameters listed dont work.

# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Centreon version 21.10.2
Centreon CLAPI version undefined

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

centreon-auto-discovery-server-21.10.1-1.el7.centos.noarc

[2022-01-17 07:30] itsul commented on #8520
Hello, are there any updates to this topic?

[2022-01-17 09:24] lpinsivy commented on #10538
Hi @tlierdotfr,

What is the size of your centreon_storage database?

[2022-01-17 11:18] tlierdotfr commented on #10538
Hi @lpinsivy , thanks for your reply.

Our DB backup Full file is about 1.6Go.
And you can find below the information about DB Statistics on Centreon Admin page :
![image](https://user-images.githubusercontent.com/11616982/149760364-1ae6cefc-b880-4d09-a172-362bd4c913dc.png)

[2022-01-17 11:39] lpinsivy commented on #10538
How often do you make a full backup?

During the full backup, MySQL is stoped to make a mysqldump.

It look like Centreon Broker can't reconnect by itself and you need to restart the process. We will deliver soon a new version of Centreon Broker to improve reconnection.

Regards,

[2022-01-17 12:53] tlierdotfr commented on #10538
We have let the default parameters for Centreon backup, so a backup full every Sunday :
![image](https://user-images.githubusercontent.com/11616982/149772223-cc3066ea-7f56-49e6-a2f4-cc5ec9ddd520.png)

But the issue seems also to occur during DIFF Backups.
For instance, in previous logs, the issue occured on Monday 3rd of January

[2022-01-17 13:33] lpinsivy commented on #10538
internal ticket MON-11846

[2022-01-17 13:48] tlierdotfr commented on #10538
Here it is :
[code]

[2022-01-17 18:42] nicnictout opened #10568 "Probes don't execute at defined interval"
Hello,

i have a strange issue with one probe on a client, the probe is scheduled to run every 2h, iit was previously set to run every minute.
I change the service definition and now in console i see that probe is launched every 2h. I check centengine.log and see a calling to nrpe agent every 2h. But locally, i add a log mechanism inside the script and i saw that it still launched every minute.
NO

[2022-01-18 13:51] nicnictout commented on #10568
Hi,

2) why even with filtering pollers IP with an inexistant IP, client still accepts requests from pollers
i read again carefully nrpe.cfg and see that this feature is not available when nrpe is launched by inetd ou xinetd.
I choose to update my hosts.allow file to make it works.

Still investigating about script launched without any poller calling

[2022-01-18 14:58] hecko opened #10571 "void"

[2022-01-18 16:03] #10571 closed

[2022-01-19 11:36] Captain-Adam opened #10573 "Can't export configuration, stuck on 0%"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

CentOS 7

***Browser used***

- [x] Google Chrome

Version: 21.10.2

Virtual Machine

### Description

When I want export a configuration on central poller, file generation is blocked at 0%.

### Steps to Reproduce

Please desc

[2022-01-19 11:53] #10573 closed

[2022-01-20 15:19] BenoitPoulet opened #10581 "User's Notifications Periods are not taken anymore from Contact Templates"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

20.10.15

### Description
User's Notifications Periods are not taken anymore from Contact Templates.
I have these warning when I generate the Engine config :

[ - ] satellite-04
Reading main configuration file '/var/cache/centreon/config/engine/21/centengine.DEBUG'.
Reading resource file '/var/cache/centreon/config/engine/21/resource.cfg

[2022-01-24 07:22] AlexisVarela commented on #10562
Hello @Athar42,
Thanks for your solution. The images are visible again

[2022-01-25 15:22] itsul opened #10592 "Extension Module Install error not Handled / Uninstall Impossible for failed install"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

[code]

***Operating System***

CentOS 7

***Browser used***

- [x] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.):*** not relevant to problem, tested on VMware, Proxmox, Physical

### Description

If a (custom) Centreon Module fails

[2022-01-26 12:53] #10064 closed

[2022-01-26 20:51] tizianosartori opened #10595 "Unable login through mobile.centreon.com with 21.10"
***Versions***
centreon-21.10.2-4.el7.centos.noarch
centreon-auto-discovery-server-21.10.1-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.2-4.el7.centos.noarch
centreon-broker-21.10.0-6.el7.x86_64
centreon-broker-cbd-21.10.0-6.el7.x86_64
centreon-broker-cbmod-21.10.0-6.el7.x86_64
centreon-broker-core-21.10.0-6.el7.x86_64
centreon-broker-selinux-0.0.6-1.x86_64
centreon-broker-storag

[2022-01-28 06:35] tizianosartori commented on #10394
There is still a problem, now you are able to enter but in some cases you press the login button and the login interface remains waiting, then it unlocks by itself.

[2022-02-01 08:14] BenoitPoulet commented on #10581
One more thing.

In the contact details, "Host Notification Options" cannot be cleared to get the ones defined in the Template.
If you check one boxe, and save the contact, you cannot edit it again to unckeck the box.

You can uncheck but if you save and edit it again, the boxes are still checked

[2022-02-01 19:42] sako-cmr commented on #10394
I have same problem. everyone says it's fixed but i don't understand what it do.

[2022-02-14 05:24] cedrobert commented on #10303
Can I have some news?

[2022-02-14 09:19] tizianosartori commented on #10595
If I use url ending with
/centreon/api/latest
the error do not appear

[2022-02-15 14:44] mullergg opened #10726 "Acknowledge impossible since update from 19.04.3 to 19.10.23"
Hello,
I've updated my production server from 19.04.3 to 19.10.23 and we cannot acknowledge service from the status details with mass selection.
It works from the service overview individually.

The only log I found is in the centcore.log;
This is the error when I sent the ack from the scrolling menu:
[code]
And when I made the ack from the service overview:

[code]
I've checked all ip configurati

[2022-02-15 18:32] legolass73 opened #10727 "UPGRADE - 20.04.0-beta.1 : Unable to replace engine's broker modules configuration from xml to json format - While trying to insert in 'cb_type_field_relation' table new values"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

[code]

***Operating System***

*OracleLinux 8*

***Browser used***

- [ ] Google Chrome
- [X] Vivaldi (ChrimiumBase)
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 5.1.2567.4

***Additional environment details (AWS, VirtualBox, physical, etc.):  ****
* VmWare Virtual Machine*

### Descriptio

[2022-02-16 13:36] mullergg commented on #10726
Ok I found the problem.
The issue is my host name, centreon don't like the special characters ( / : - ) when I removed it I can acnowledge without any problem.
But it was working fine in 19.04.3.
I also test it on my development environment in version 21.04.7 it works fine with the special characters.
So I think the issue is with the version 19.10.23.

[2022-02-16 13:50] ponchoh commented on #10726
Hello @mullergg happy to see that you have found a solution. Just as a friendly reminder about Centreon's [lifecycle](https://docs.centreon.com/docs/releases/lifecycle#maintenance-table-for-earlier-products):

Product | Release | End of life with | State
-- | -- | -- | --
Centreon 21.04 | 04/2021 | Centreon 22.10 | Supported
Centreon 20.10 | 10/2020 | Centreon 22.04 | Supported
Centreon 20.04 | 04

[2022-02-16 13:50] #10726 closed

[2022-02-16 13:55] mullergg commented on #10726
I found the cause **not** a solution.
I know that !
I'm working on a rebuild of our configuration so I have a little delay on the update.
For now I need to work with the 19.10.

[2022-02-16 18:15] lolokai commented on #10303
Hi @lpinsivy any news from this bug ?

[2022-02-17 10:44] grydan opened #10735 "Export HOST from 19.10.18 plugin Import/Explor"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]
centreon-19.10.23-3.el7.centos.noarch
centreon-auto-discovery-server-19.10.6-1.el7.centos.noarch
centreon-awie-19.10.0-1.el7.centos.noarch
centreon-base-config-centreon-engine-19.10.23-3.el7.centos.noarch
centreon-broker-19.10.6-3.el7.centos.x86_64
cen

[2022-02-21 11:03] mullergg opened #10753 "Service file marked as executable"
Related with #7543

I have a fresh install of centreon-21.04.7 and the process centengine is stille marked as executable.

-rwxr-xr-x. 1 root root  964 Oct 19 15:15 centengine.service

The others service are ok.

I also updated my production environment from 19.04.3 to 19.10.23 and still have the issue on centengine service.

[2022-02-21 11:23] killianchmn-cpf opened #10755 "Problem with centreon"
**Hello, I have a problem with my centreon supervision**
I want to supervise one of the **_UNIFI_** equipment but an error message
appears in the unknown services
despite several tries I can't find a solution, do you have an idea?

I have this error message appearing
`UNKNOWN: SNMP Table Request: Cant get a single value.`

Cordially

[2022-02-22 10:52] schif1 opened #10766 "Service notification contact inheritance wrongly based on host instead of service template"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

[code]

***Operating System***

[code]

***Browser used***

- [x] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 21.04.11

***Additional environment details (VMware ESXi):***

### Description

My hosts and services are configured with hosts and services templates.

HOST TEMPLATE

[2022-02-22 16:11] BenoitPoulet commented on #10753
It the same for all services's units delivered by Centreon their are all executable and this generate warning in the journal :

[code]

[2022-02-22 16:29] BenoitPoulet commented on #318
Hello and welcome year 2022 :D

We are still unable to use generic Engine macros like :

[code]
Which can be extremely useful when check commands must use the Hostname, Hostaddress in the check command parameters (but not everytime, so that’s why the param is a macro).

[2022-02-22 16:56] #10755 closed

[2022-02-22 17:13] lzmarouane opened #10774 "CRITICAL: Cannot connect: (no error string)"
Hi,

I create a service on centreon to monitor a oracle database(mode=tnsping)  but I get the error :
`Critical : Cannot Connect :(no error string)`
If I run this command from putty with account root or centreon-engine or centreon it works fine
`/usr/lib/centreon/plugins//centreon_oracle.pl --plugin=database::oracle::plugin --mode=tnsping --hostname=IP  --port=1521 --sid=BDD`

result :
`OK: Connec

[2022-02-23 08:07] mullergg commented on #10753
Exactly, I forget cbd and gorgone.
[code]
On my new installation I don't have dsmd

[2022-02-24 09:42] tgfhi opened #10785 "Negate Hard State Duration Services"
Hello,

***Versions***

RPM based systems

centreon-21.10.3-12.el7.centos.noarch
centreon-auto-discovery-server-21.10.1-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.3-12.el7.centos.noarch
centreon-broker-21.10.0-6.el7.x86_64
centreon-broker-cbd-21.10.0-6.el7.x86_64
centreon-broker-cbmod-21.10.0-6.el7.x86_64
centreon-broker-core-21.10.0-6.el7.x86_64
centreon-broker-graphite-21.10.

[2022-02-24 11:16] #10509 closed

[2022-02-24 11:17] MelissaB79 commented on #10509
I have made a pull request to correct this:
https://github.com/centreon/centreon/pull/10788

[2022-02-24 13:47] #10774 closed

[2022-03-04 13:34] TomT63 opened #10818 "Export configuration stuck on 0%"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --

$ rpm -qa | grep centreon | egrep -v "(plugin|pack)" | sort

centreon-21.10.3-12.el7.centos.noarch
centreon-auto-discovery-server-21.10.1-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.3-12.el7.centos.noarch
centreon-broker-21.10.1-5.el7.x86_

[2022-03-07 08:21] s-duret commented on #10818
Hi,
Can you check if you have disabled hostgroups?
Also, do you have disabled host/services templates?
Regards

[2022-03-07 08:33] TomT63 commented on #10818
Hi,

[2022-03-07 08:36] TomT63 commented on #10818
Hi,

  I have reactivated the hostgroups who has been disabled.
  Now, the export work.

  Thanks for your help.

  Regards.

[2022-03-07 08:36] #10818 closed

[2022-03-08 14:17] ptitpopey opened #10828 "21.10 : Export des fichiers de configuration - Problème"
Bonjour à tous,

Suite migration 21.04 vers 21.10, impossible de recharger le poller distant.

CentOS Linux release 7.9.2009 (Core)

PHP 8.0.16 (cli) (built: Feb 15 2022 21:34:32) ( NTS gcc x86_64 )
Copyright (c) The PHP Group
Zend Engine v4.0.16, Copyright (c) Zend Technologies
    with SourceGuardian v12.1.0, Copyright (c) 2000-2021, by SourceGuardian Ltd.

Erreur :
tail -f /var/log/php-fpm/cent

[2022-03-08 14:23] ptitpopey commented on #10828
Problème provenant du code suivant

               if (count($servicesTpl[$serviceId][$attribute . '_cache']) > 0) {
                    $computedCache = array_merge($computedCache, $servicesTpl[$serviceId][$attribute . '_cache']);
                    if (is_null($servicesTpl[$serviceId][$attributeAdditive])
                        || $servicesTpl[$serviceId][$attributeAdditive] != 1) {

[2022-03-10 09:30] Blank-Vcf opened #10844 "Problem with custom notification command"
Hi i want to use a custom perl script to send html notification
command is added to centreon master:
![image](https://user-images.githubusercontent.com/16317786/157630241-fe36a516-0c0a-40ea-8da7-01e431f76012.png)

Script is added to poller with centreon-engine as owner
ls -alk /usr/lib/nagios/plugins/
total 236
drwxrwxr-x. 3 nagios          nagios            159  8 mars  08:16 .
drwxrwxr-x. 3 nagi

[2022-03-10 18:17] legolass73 opened #10851 "Upgrade impossible"
Bonjour,

j'ai récemment  voulus Migré mon Centreon qui était en 3.8 en version 21.10,
j'ai donc de ce faite suivis a la lettre tout en ajustant certaine information lié a mon environnement/infrastructure.

Je suis donc arrivé au point ou il faut forcé la monté de version via l'interface web.
j'ai donc suivis et copié le répertoire d'install la ou il faut et commencé.

je me suis donc retrouver de

[2022-03-15 07:41] wicead commented on #10766
Hello, we have the same problem but in v21.04.

[2022-03-16 07:19] #10844 closed

[2022-03-18 15:08] hecko opened #10880 "Installation problem with CREATE USER during web install"
# BUG REPORT INFORMATION

### Prerequisites

* Rocky Linux release 8.5 (Green Obsidian) (Rocky Linux)
* Centreon 21.10 install

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

* RockyLinux 8.5

[code]

***Browser used***

- Google Chrome

Version: --

***Additional environment details ***

DigitalOcean RockyLinux 8.5 s

[2022-03-18 15:43] hecko commented on #10880
I can additionally confirm that this error is also present when installing on CentOS 7 as per installation documentation in centreon official docs

[code]

[2022-03-18 16:22] hecko commented on #10880
I can continue the installation (clicking refresh) after I delete the centreon user as follows:

[code]

but afterwards I get the following in the same centreon install screen:

[code]

[2022-03-21 15:11] olivier-monaco opened #10885 "Leaving login form empty generate 500 error"
# BUG REPORT INFORMATION

Version : 21.10.4 from GitHub (tag 21.10.4)
OS : Debian Buster (11)
Browser : Firefox and Google Chrome

### Description

Validating login form without login information show an "Internal Server Error".

Using Firefox console we can see the Ajax request ending as an 500 error instead of a 401 error:
![image](https://user-images.githubusercontent.com/3101457/159291145-1dad

[2022-03-22 09:57] jframeau opened #10888 "Problem wih recurring downtime"
Centreon 21.10.4.

I'm trying to add a recurring downtime on a host but get the following message: "No relation set for this downtime".

Looking at the demo plateform, same message.

I was thinking to a false positive message, but no, recurring downtimes are not working well.

Any idea ?

[2022-03-25 03:33] tatostian commented on #9542
hi, i have the same problem, can you help me please?
with a remediation

[2022-03-25 10:15] nmagniezCentreon commented on #10096
Bonjour,
ces 2 problèmes ont été corrigés.
Nils

[2022-03-25 10:15] #10096 closed

[2022-03-30 19:06] sako-cmr opened #10920 "ERROR - https://CENTRAL-IP:443: {"message":"No parent platform was found for : 'poller'@'poller-IP'"}"

[2022-03-31 12:11] R00T88 opened #10925 "Dependencies installation CentOS 7"
### Prerequisites

Install fresh centreon 21.10 on CentOS 7
enable php repository php 7.3 as per system requirments -> https://docs.centreon.com/docs/21.04/installation/prerequisites/

***Versions***

21.10-5

***Operating System***

CentOS7

***Browser used***

- [X] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

### Description

Error: Package: centreon-web-21.10.5-2.el7.

[2022-04-01 20:32] #10925 closed

[2022-04-04 13:58] silvergio opened #10937 "The graphs work partially and the duration is initialized to -1y"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***
[code]

***Operating System***

*CentOS 7.*

***Browser used***

- [x] Google Chrome
- [x] Firefox
- [x] Internet Explorer IE11
- [ ] Safari

### Description

I see that the duration result is "-1y -2M". Also my graphs don't work anymore. This happens after a reboot.

### Steps to Reproduce

Please describe precisely the steps to reproduc

[2022-04-05 09:12] GitWatin opened #10940 "LDAP - Distinguished Names not auto updating"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Centreon Engine 21.04.4

***Operating System***

CentOS

***Browser used***

- [x] Opera
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: --

Linked to Active Directory authentication

### Description
I have a little problem with the LDAP synchronization of my Centreon central.

The users are correctly imported but as so

[2022-04-05 09:25] jframeau commented on #10888
I don't see any change relative to recurrent downtimes in 20.10.5.

Do I need nevertheless to update  ?

Thx

[2022-04-08 13:26] cedrobert commented on #10303
Hi @lpinsivy any news from this bug ?

[2022-04-12 10:27] dcucm commented on #10888
Hello, take a look to the file: /etc/centreon-gorgone/config.d/31-centreon-api.yaml.

It must looks like the following:

gorgone:
  tpapi:
    - name: centreonv2
      base_url: "http://127.0.0.1/centreon/api/latest/"
      username: ${YOURUSER}
      password: ${YOURPASSWORD}
    - name: clapi
      username: ${YOURUSER}
      password: ${YOURPASSWORD}

[2022-04-14 09:25] demen2010 opened #10973 "No plugin pack found appears after 7 days of use."
# BUG REPORT INFORMATION

***Versions***

centreon-21.10.5-2.el7.centos.noarch
centreon-auto-discovery-server-21.10.3-2.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.5-2.el7.centos.noarch
centreon-broker-21.10.1-8.el7.x86_64
centreon-broker-cbd-21.10.1-8.el7.x86_64
centreon-broker-cbmod-21.10.1-8.el7.x86_64
centreon-broker-core-21.10.1-8.el7.x86_64
centreon-broker-storage-21.10.1-8.

[2022-04-15 10:49] uc33260 opened #10983 "Using Avaya IP Office MIB on centreon"
Hi team,

I'm a voip engineer, and looking to understand how can i use MIB provided by a voip constructor (Avaya) for a specific product (IP office).

I can only monitor basic services (disk, memory, cpu, uptime, network bandwith usage, ping, swap).

My goal is to monitor the services running on the IPBX. many services are running under Apache-tomcat.

Other things to monitor, is for example, lice

[2022-04-15 11:02] uc33260 commented on #10983
[avaya_ipoffice_snmp_mibs.zip](https://github.com/centreon/centreon/files/8495544/avaya_ipoffice_snmp_mibs.zip)

[2022-04-15 11:21] Sims24 commented on #10983
Hello @uc33260

Please open this here https://github.com/centreon/centreon-plugins

We will see how we can mutually help.

[2022-04-15 11:21] #10983 closed

[2022-04-15 11:24] uc33260 commented on #10983
Hello @Sims24

Done.

[2022-04-15 11:39] uc33260 commented on #10983
Issue opened on: https://github.com/centreon/centreon-plugins/issues/3598

[2022-04-19 12:13] #10920 closed

[2022-04-21 11:26] tgfhi commented on #10937
Hello,

Seems to be the same issue for me :  Negate Hard State Duration Services #10785

i have delete all data graph for the moment.

[2022-04-22 14:46] BertrandJO opened #11015 "CLAPI HOST ADD error (21.10)"
Hi,

Since last upgrade to 21.10, we are getting this error (API is deprecated) :

PHP Warning:  Undefined array key 0 in /usr/share/centreon/www/class/centreon-clapi/centreonObject.class.php on line 580

Corrected with this few lines if no more updates are published for this API (arbitrarily defined to 1 in our case)

        if (isset($contact[0]))
        {
                $userId = $contact[0]

[2022-04-22 14:50] WIL200 commented on #5279
Hi, I have the same problem, but /var/lib/centreon-broker is not empty. what to do ??

[2022-04-25 21:08] ponchoh commented on #6997
Diff URL in develop branch🤷‍♂️https://github.com/centreon/centreon/blob/8ae28a04395dac63473c2f19920112d5f739d97b/www/include/configuration/configKnowledge/functions.php#L33

[2022-04-26 15:58] PepeOnAChair commented on #818
Hello,

I`m trying to migrate from Nagios 4.4.5 to Centreon 21.10.3 and I can not find howto define "sub hostgroup" for a hostgroup:

For organizing thousands od devices/hosts in different locations this feature is quite essential. This is how it works in Nagios config files:

_define hostgroup{
	hostgroup_name		:: main hostgroup
	alias				"some alias"
	hostgroup_members		:: some sub-hostgroup1,::

[2022-04-27 08:02] poomystery opened #11029 "i cannot monitor remote mount point in centreon"
I am not being able to monitor these remote filesystems in centreon, please help

![image](https://user-images.githubusercontent.com/101804076/165470769-7ae3a4e3-d6ab-478a-878b-7021cffa3396.png)

[2022-04-27 08:04] poomystery commented on #11029
please not that i cannot monitor these filesystem in centreon

/proc, /finreoprts(1,2,3,4,2_N), /finusers

[2022-04-29 09:20] poomystery opened #11047 "Can we monitor LOAD and MEMORY of AIX servers using SNMP?"
is there any way we can monitor Load and memory using SNMP

![image](https://user-images.githubusercontent.com/101804076/165917930-9320ed2d-9b08-49f1-8474-81d305e5571d.png)

[2022-05-02 06:46] poomystery commented on #11047
Hi @lpinsivy  can we do anything regarding this?

[2022-05-02 23:58] tkmeisterooo opened #11055 "Cannot update a plugins packs from interface."
# BUG REPORT INFORMATION

***Versions***
[code]
***Operating System***

Centos 7.9

***Browser used***

- [X ] Google Chrome

Version: 100.0.4896.127

***Additional environment details (AWS, VirtualBox, physical, etc.):***
VMware 6.7

### Description

-- Describe the encountered issue --

After migration from version 2.3.6 i cannot update my plugins.
We have a server with all available updates ins

[2022-05-03 14:51] joschi99 commented on #10433
Are there any news about this issue?

[2022-05-03 17:45] alexandre30290 commented on #10433
Solved for me with upgrade to 21.10
Config with azure ad correct

[2022-05-03 17:52] ponchoh commented on #11055
Hello 👋,

Do you have a valid license?

https://docs.centreon.com/docs/monitoring/pluginpacks/#license

[2022-05-03 18:05] prohand commented on #10433
Can you post you're config please ?
My config not working :(
Thank you

[2022-05-03 19:50] tkmeisterooo commented on #11055
Hi 👋,
Im not sure, cuz im never uploaded a license on server.
Its possible to check history of licenses?
Or clear that informations?
As i know our team always used a non-license version.

[2022-05-03 20:29] alexandre30290 commented on #10433
No problem
Please find my conf here.

![openid-connect-config-centreon](https://user-images.githubusercontent.com/68156048/166559973-d3ee7ed8-9e65-4c0d-98fa-446508b09a4c.JPG)

This is my configuration on centreon
- You can replace "id_annuaire" by your tenant id

Then, please find my conf in azure "register apps"
![config-azure-1](https://user-images.githubusercontent.com/68156048/166560226-6a4d03

[2022-05-04 09:19] demen2010 commented on #10973
Resolved:

Problem was in the parameter of proxy even if not used : go to parameter --> centreon UI --> proxy --> delete NULL everywhere and password too and save.

Source : https://thewatch.centreon.com/platform-7/no-plugin-pack-found-appears-after-7-days-problems-504

[2022-05-04 09:19] #10973 closed

[2022-05-04 10:17] prohand commented on #10433
Hello,
It's ok for me
I close the ticket

Thank you

[2022-05-04 10:17] #10433 closed

[2022-05-04 12:55] ponchoh commented on #11055
In that case you might be thinking about the https://github.com/centreon/centreon-plugins not the packs, you do need a license for the packs.

[2022-05-04 13:06] tkmeisterooo commented on #11055
But in plugin packs there is a few free plugin packs.
![image](https://user-images.githubusercontent.com/51006991/166686647-3f6a629f-a728-48c5-8319-bb220b97a44f.png)
And i cant update those.

[2022-05-05 06:22] dcucm commented on #10888
Hi @reglisse69

In my previous post, the most important part was the line with the base_url parameter. There you need to be sure that it's pointing to 'centreon/api/**latest**' not to 'centreon/api/**beta**'

[2022-05-05 10:25] reglisse69 commented on #10888
Hi @dcucm, thanks for your help, but no relation for me with the post of @jframeau

Ticket opened on Centreon Support yesterday.
Issue solved in v21.10.6. Tried with sucess on my dev plateform.

Regards

[2022-05-05 12:28] eliebenayoun commented on #8138
I have the same problem on all new version of Centreon. I have open a issue for this but nobody answer.
I think you have a better explanation on what arrive here. But all new user can meet this problem. And ITS AN IMPORTANT ISSUE.

[2022-05-10 08:40] anna00060 opened #11094 "Graphs aren't working after restoring centreon central server from Unitrends backup"
# BUG REPORT INFORMATION

***Versions***

[code]

***Operating System***

*CentOS*

### Description

After restoring central server and poller from unitrends backup Graphs stopped working properly.
Checking rrd files showed that rrd files aren't updated with values after time of backup (backup was taken 8.04, at 6:01 pm):

![image](https://user-images.githubusercontent.com/105274570/167584279-dac8

[2022-05-13 07:19] Alexm974 commented on #10920
Hey Sako
Did you find the reason of that error?
I have the exact same one
Thanks

[2022-05-13 11:37] joviado opened #11116 "Reporting Dashboard Hosts issue"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Centreon 21.10.5

***Operating System***

*CentOS 7*

***Browser used***

- [X] Google Chrome
- [X] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

### Description
Hi,
In Reporting > Dashboard > Hosts
In image sample the host have five services.
The **average** item hide last service line.
Test in web demo.centreon.com it is the same

[2022-05-14 10:49] andreluizpr opened #11119 "Package not signed"
Hello,

My environment:
CentOS Linux release 7.9.2009 (Core)
Centreon 21.04.14
commit  [1b93e8f660]

I'm getting this error when updating a package using yum update command:

Package perl-Libssh-Session-0.9-1.el7.x86_64.rpm is not signed

This package is in the centreon-stable repository

I'm not comfortable bypassing the signature verification to apply the above package and with that I can't upda

[2022-05-16 11:56] otolizz opened #11122 "Wrong php code in centreonPurgeEngine.class.php - PHP regexp in Backticks"
Hi,

We upgraded our Centreon plateforme from 19.15 to 21.10.6 recently.
The night after the upgrade, our database (Percona Xtradb Cluster) was down. Processes keep accumulating, everything was locked by a "DELETE FROM" request.
After debugging, we found that the file centreonPurgeEngine.class.php wasn't updated by the upgrade process.
In this file, we've found a php regexp that doesn't work with

[2022-05-18 10:15] govi230 commented on #10394
@vhsantos    {"code":401,"message":"Invalid credentials"}

Same issue I was facing at auto discovery . But I check "/etc/centreon-gorgone/config.d/31-centreon-api.yaml" configuration file then I found that wrong credentials (username and password) was specified for "centreonv2" and "clapi" both. These credential same as that we used to login into centreon UI
After configure correctly restart the g

[2022-05-18 10:30] sako-cmr commented on #10920
hello Alex, sorry for the delay

the central and the poller are not in the same LAN, I had a problem with the gateway between the central and the poller. in the command : "/usr/share/centreon/bin/registerServerTopology.sh -u admin -t poller -h Central-IP -n poller "
I put the ip address of the gateway instead of Central-IP, which did not work, hence the error message.
So instead of executing the c

[2022-05-18 10:30] govi230 opened #11136 "Not Able To Execute Centreon Host Auto Discovery Job"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems
[code]

***Operating System***

*CentOS*

***Browser used***

- Google Chrome

Version: --

***Centreon 21.10***

### Description

-- Created AWS EC2 Host Auto Discovery Job but not able to execute --

### Steps to Reproduce

Please describe precisely the steps to reproduce the encountered issue.

### Logs
tail

[2022-05-18 10:31] govi230 commented on #11136
I check "/etc/centreon-gorgone/config.d/31-centreon-api.yaml" configuration file then I found that wrong credentials (username and password) was specified for "centreonv2" and "clapi" both. These credential same as that we used to login into centreon UI
After configure correctly restart the gorgoned service with "systemctl restart gorgoned"
In my case It was working fine.

[2022-05-18 15:26] sebastiansp911 commented on #10436
Hello.

Validate that the <**logs**> table in the <**centreon_storage**> database is created. If it is not created, create the table inside the database. This happens to us after unexpected restarts or shutdowns of the server without first down the services.

Greetings.

[2022-05-18 18:29] Gregesp opened #11140 "[PLUGIN PACKS] Some centreon-plugins don't plugin packaged"
Hello,

I could see, we have a little part of plugins who don't have their Plugin Packs and documentation associated.

Maybe it's normal (outdated or others), or not, just a forgot 🙂

The list :
**Apcupsd** https://github.com/centreon/centreon-plugins/tree/master/apps/apcupsd/local
**Checkmyws** https://github.com/centreon/centreon-plugins/tree/master/apps/checkmyws
**Arcserve UDP Job Status** htt

[2022-05-19 07:13] garnier-quentin commented on #11140
Please ask it here: https://github.com/centreon/centreon-plugins ;)

[2022-05-19 09:58] Gregesp commented on #11140
Hello,

No problem i close and move this issue.

Regards,

[2022-05-19 09:58] #11140 closed

[2022-05-21 15:06] Nohzoh commented on #11119
Hello,

The RPM has been signed.
Sorry for the inconvenience caused.

[2022-05-21 15:06] #11119 closed

[2022-05-23 11:08] c0c0163 opened #11149 "Centreon 22.04 openldap no longer working"
Since the upgrade to centreon 22.04, the binding to ldap no longer works.
I can use the plugin centreon_protocol_ldap.pl to test the connectivity and it works fine, however, the manual import does not work.
See below:

[code]
Ldap logs:
[code]
I have the exact same configuration on a Centreon 21.04 and it works like a charm:
[code]

[2022-05-24 08:23] prohand opened #11155 "Centreon 22.04 chmod(): Operation not permitted"
Hello,

I have upgrade my poller version 21.10.6 to 22.04 (Redhat) and i have this warning after regenerate configuration file :

![image](https://user-images.githubusercontent.com/20227162/169984992-7389a320-8350-4bb7-b415-8a982663a372.png)

Do you have a solution ?

Thank you

[2022-05-25 08:15] Placarddufutur commented on #6000
Hi,

Is-it possible to know how to manage the expiration time and have the update of this enhancement  ?

Thanks

[2022-05-25 12:12] ERFPP commented on #11155
I have the same problem after update 21.10.6 -> 22.04 Centos7

[2022-05-26 10:07] ng-pe commented on #11155
Same problem on fresh install... (AlmaLinux release 8.6 (Sky Tiger))

[2022-05-30 14:41] BenoitPoulet opened #11172 "22.04, API V2, The host «alias» field contain the Host Template name."
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

[code]

***Operating System***

*CentOS*

***Browser used***

- [ ] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 101

### Description

-- Describe the encountered issue --

### Steps to Reproduce

Get the host details via the «ressources» enipoint :

curl 'http://10.66.113.52/centreon/api/latest/monitor

[2022-05-31 09:45] BenoitPoulet opened #11178 "22.04, «copy autologin link» from the profile, give a wrong link"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

[code]

***Operating System***

*CentOS*

***Browser used***

- [ ] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 101

***Additional environment details (AWS, VirtualBox, physical, etc.):***

### Description

«copy autologin link» from the profile, give a wrong link

### Steps to Reproduce

Please descri

[2022-05-31 09:57] BenoitPoulet opened #11179 "API v2, documentation is incomplete for "resources" endpoint and meta services."
Hello,

The doc is incomplete is several section about the "metaservice", often on the parts who are talking about the "resources" endpoint, like this part :
https://docs-api.centreon.com/api/centreon-web/22.04/#tag/Downtime/paths/~1monitoring~1resources~1downtime/post

In this part, the «metaservice» type is not mentioned , and "parent.id" is marked as integer but must be «null» is case of a meta

[2022-06-08 08:00] #10438 closed

[2022-06-09 06:13] barte91 commented on #11155
I resolve with grant this permission

` chown apache:centreon-engine /etc/centreon-engine/*.cfg`
`chown apache:centreon-broker /etc/centreon-broker/*.json`

[2022-06-09 07:10] prohand commented on #11155
Hello,

Thank you, my problem is solved

[2022-06-09 07:10] #11155 closed

[2022-06-09 08:30] Raeanath-OC commented on #11155
Hello,
It works for me too thank you @barte91 [barte91](https://github.com/barte91) !

[2022-06-09 10:16] Chris91550 opened #11217 "Problem Centreon HA with my replication on Open Ticket, ICON, DATES"
Hello ! I have three problems with my centreon HA the replication of open tickets is not done correctly, moreover I have my host icons which do not appear any more, and finally I have a date bug in "-1y -1M ago"

Here are [screenshots:]
![image](https://user-images.githubusercontent.com/99281871/172823664-79c27abe-38ed-472e-acd7-702430fc3cff.png)

In circle the lack of icon

In underlined the date

[2022-06-09 11:01] BlogofraisFR commented on #11155
Hello,

it's ok for me too

thx @barte91

[2022-06-09 11:06] ERFPP commented on #11155
Good for me too, thanks !

[2022-06-10 18:42] dcasanov opened #11224 "CFG not generated after 22.04 upgrade"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

centreon-22.04.0-2.el8.noarch
centreon-auto-discovery-server-22.04.0-1.el8.noarch
centreon-broker-22.04.0-13.el8.x86_64
centreon-broker-cbd-22.04.0-13.el8.x86_64
centreon-broker-cbmod-22.04.0-13.el8.x86_64
centreon-broker-core-22.04.0-13.el8.x86_64
centreon-broker-storage-22.04.0-13.el8.x86_64
centreon-central-22.04.0-2.el8.noarch
centre

[2022-06-13 11:51] dcasanov commented on #11224
The problem appeared after a migration from 2.8
I had to recreate my pollers and the ns_host_relation table of the database ended up empty.

After restoration, the .cfg files are now correctly generated.

[2022-06-13 11:51] #11224 closed

[2022-06-13 14:55] uc33260 opened #11229 "How to work with base OID used for multiple Traps"
Hello,

I configured traps on my Centreon server to receive alarms from an Avaya PBX (IP Office R11.1).

The constructor Avaya use base OID for multiple traps, for example all alarms related to licensing issue are defined on this  OID:

.1.3.6.1.4.1.6889.2.2.1.2.0.46 = when the alarm is active
.1.3.6.1.4.1.6889.2.2.1.2.0.47 = when the alarm is cleared

And the constructor use specific codes to ide

[2022-06-14 06:48] Chris91550 commented on #11217
up

[2022-06-15 07:41] dmagniez commented on #10406
Same here, doc is not updated, please fix the doc ;)
I didn't see that in release note either.

Why theses options always available in the web module ?

[2022-06-16 07:00] omercier commented on #10406
You are right, @dmagniez!
The upgrade procedures are about to be updated in the documentation (https://github.com/centreon/centreon-documentation/pull/1622 and https://github.com/centreon/centreon-documentation/pull/162), and we will remove this parameter from the configuration menu soon.
Thank you for your contribution!

[2022-06-16 16:11] omercier commented on #9913
Hi @cmeschin,
This has been added to our backlog (ref MON-11874).
It will presumably be released in 22.10.
Regards,

[2022-06-16 16:11] #9913 closed

[2022-06-17 02:23] jcarrier22 commented on #11136
problem solved . Thank you

[2022-06-17 07:57] XixisDev commented on #10920
Hello, sorry for up, but i have the same problem.

My Centreon central is on a AWS server, and i try to install a poller on my local network and connect them.
When i send " /usr/share/centreon/bin/registerServerTopology.sh -u admin -t poller -h IP -n centreon-poller1" after entering password, i have the message "ERROR - http://IP:80: {"message":"No parent platform was found for: 'centreon-poller1'

[2022-06-19 13:44] #11229 closed

[2022-06-20 13:00] ponchoh commented on #11229
https://thewatch.centreon.com/platform-7/how-to-work-with-base-oid-used-for-multiple-traps-729

[2022-06-21 15:20] SpecSierra opened #11261 "Can't Disacknowledge service with OK Status"
# BUG REPORT INFORMATION

***Versions***
[code]
***Operating System***

CentOS 7  3.10.0-1160.66.1.el7.x86_64
Installed with centreon-21.04-1.el7.x86_64.iso and upgraded to 22.04.

***Browser used***

- [X] Google Chrome / Brave
- [X] Firefox

Version:  102.0.5005.115 (Brave) and 101.0.1 (Firefox)

### Description

When a service as been acknowledged in a CRITICAL status and goes back to an OK sta

[2022-06-22 10:41] uc33260 commented on #10457
I have the same issue.

I have Centreon 22.04 and a valid SSL certificate.
I copied my root-ca and intermediate-ca on /etc/pki/ca-trust and used the command update-ca-trust.

But I have always the same issue: There was an consistency error in the exported files - please use the legacy export menu to troubleshoot

An idea ?

[2022-06-22 12:07] proxyconcept opened #11266 "APIv2 don't respect service_display_command ACL"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

RPM based systems
[code]

***Operating System***

Red Hat Enterprise Linux 8.6

***Browser used***

- [ ] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 91.9.0esr (64 bits)

### Description

The Rest APIv2 method ["Resource / Get information on service resource"](https://docs-api.centreon.com/api/centreon

[2022-06-22 13:12] ponchoh commented on #10457
Hi @uc33260

copy your **ca_selfsigned.crt** (or the name you are using) file to

[code]

chmod it to 644

[code]

and done... thanks @Tpo76

![image](https://user-images.githubusercontent.com/85764737/175037130-9ebd0aaf-4707-453a-80d9-6bfdc42246a6.png)

[2022-06-22 13:20] uc33260 commented on #10457
Thank you for help :) that's work for me !

[2022-06-23 16:40] uc33260 opened #11278 "Invalid credential when first connection to Centreon Web interface"
Hi team,

I installed Centreon 21.10 from ISO (CentOS).

But when I tried to connect to the web interface for the first time, I got this error message:

Invalid credentials

I’m sure to use the right password defined at the step 5 “Admin information.

Is that a known bug ?

How to reset this password ?

Thank you

[2022-06-23 20:17] ponchoh commented on #11278
moving chat to ..

https://thewatch.centreon.com/platform-7/invalid-credential-when-first-connection-to-centreon-web-interface-752

[2022-06-23 20:17] #11278 closed, assigned to nobody

[2022-06-24 10:12] veskoz opened #11285 "storage::netapp::ontap::restapi::plugin has a threshold which is not used"
# BUG REPORT INFORMATION

### Prerequisites

 22.04.0

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]
***Operating System***

Rocky Linux 8.6 (Green Obsidian)

***Browser used***

- [x] Google Chrome
- [x] Firefox
- [x] Internet Explorer IE11
- [x] Safari

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.):***

### Description

[2022-06-27 07:08] vonhovic commented on #6079
Hello,

any resolusion of this problem? I have same symptoms as [adrianoguilhermetti].
Also current open files not matching actual max open files limit and still reach error above.

[2022-06-27 14:39] adrianoguilhermetti commented on #6079
Hi [vonhovic]
Unfortunately no, Centreon didn't give us a solution or was able to pinpoint the problem.
Due to several issues we faced with Centreon, we abandoned it as a monitoring tool, we had to replace it.

[2022-06-27 20:25] lgigil commented on #9478
Hello, I updated to Centreon 22.04.0 and this bug is still present. Do you have any news about?

[2022-06-27 20:36] ponchoh commented on #9478
@lgigil please note
https://github.com/centreon/centreon/pull/9803
and remember that admin has different rights

[2022-06-27 20:36] #9478 closed

[2022-06-28 08:48] watchix opened #11299 "[v. 21.04.13] API v2 - Get hosts config"
Hello,

Is there a solution to get Hosts config from API request ?
- Host name
- IP
- SNMP port
- SNMP community

I need to get this informations to duplicate hosts on other platform like Cacti/Zabbix

I've read and tested a lot of commands from the API to get "config" about my hosts.
Actually the way to optain this informations is from CLAPI export.... who contain too much lines to parse for use.

[2022-06-28 14:58] watchix commented on #11299
It seems that API v1 and v2 can't display the SNMPport used for a host...

For the moment i can only found this port with SQL request :
[code]

[2022-06-28 18:13] sakscams commented on #10920
Hello,
you have to create a template file by specifying these elements in it :
              - API_USERNAME                      centreon-admin-user-name
              - API_TARGET_PASSWORD        password
              - CURRENT_NODE_TYPE           poller
              - TARGET_NODE_ADDRESS      (PARENT NODE ADDRESS)  -- > local IP of Central Server
              - CURRENT_NODE_NAME         polle

[2022-06-29 12:18] PhilCANDIDO opened #11311 "CENTREON 22.04 : CSS display problem"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

On Premise

***Operating System***

*RockyLinux 8*

***Browser used***

- [ ] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari
- [x] Edge

Version: --103.0.1264.37

### Description

Upgrade Centreon 21.10 to 22.04. After upgrade we have problème with CSS. Icons do not appear in the web interface. Even after deleting

[2022-06-29 12:21] metti-himself opened #11312 "Upgrade 21.10 to 22.04"
We are unable to upgrade our current Centreon, after upgrading Packages we see the following error:

2022-06-28 15:22|0|0|UPGRADE - 22.04.0-beta.1: Unable to migrate broker config to unified_sql - Code : 42000 - Error : SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to

[2022-06-29 13:17] watchix commented on #11299
I did quickly a script to get Hosts informations from Centreon to generate a XML file for Zabbix 5.0
https://github.com/watchix/Centreon_Zabbix_Scripts/blob/main/Centreon_hosts_to_Zabbix-5.x-template.php

[2022-07-04 14:21] StefThomas opened #11329 "Engine timeout settings are in the wrong tab"
Hi,

The settings for Engine’s timeouts are in the "Log Options" tab of the engine configuration page.

![image](https://user-images.githubusercontent.com/38944475/177172030-199ee3f8-0837-4e3e-87be-a1ad090c4ae5.png)

I think it should goes to the previous tab, the "Check Options" tab, as it has nothing to do with logging. Same thing for the "States Retention" part juste under it.

Far from critica

[2022-07-04 14:48] acayssials opened #11331 "tag.pb.sh is missing during make step"
Hello,

When I arrive at the make step, I have the following error :

[  4%] Building CXX object bbdo/CMakeFiles/pb_service_lib.dir/service.pb.cc.o
In file included from /usr/local/src/centreon-collect/bbdo/service.pb.cc:4:
/usr/local/src/centreon-collect/bbdo/service.pb.h:35:10: fatal error: tag.pb.h: Aucun fichier ou dossier de ce type
   35 | #include "tag.pb.h"
      |          ^~~~~~~~~~
comp

[2022-07-04 21:15] ponchoh commented on #11261
https://thewatch.centreon.com/platform-7/can-t-disacknowledge-service-with-ok-status-753

[2022-07-05 13:38] StefThomas opened #11335 "When the plugin output contains HTML, the display of the detailled output and the perfdata are broken in Centreon"
Hi,

The following picture speaks for itself:
![image](https://user-images.githubusercontent.com/38944475/177339797-d81a8208-a495-4b71-83b6-9f83466bc0f2.png)

I observed it on a 20.04.17 but it probably is reproductible on a 22.04.

To reproduce : use any plugin which return a web page having some '|' characters in its detailled output (like the HTTP Centreon plugin does when using the __--verbose

[2022-07-05 15:15] ponchoh commented on #11261
replicated, can't use "Disacknowledge" either

![image](https://user-images.githubusercontent.com/85764737/177359086-8ad0f931-4cd6-4486-bc67-a32e4bc5052e.png)

![image](https://user-images.githubusercontent.com/85764737/177358908-3282445b-94b7-4009-9615-1103d56045f4.png)

from /var/log/centreon-gorgone/gorgoned.log

[code]

and nothing else, expecting a "Processing"

[code]

[2022-07-05 17:29] ponchoh commented on #11261
IBT-706

[2022-07-06 06:29] VidushaZ opened #11340 "Rebuild Graph from template?"
Hi,

I have decreased my check intervals for link utilization. but graphs are still showing as the old intervals.
It works fine once I rebuild them. But I have a lot of links and not possible to do them one by one. Is there any way I can rebuild them in bulk?

Regards!

[2022-07-07 06:53] FabrixG commented on #11340
Hi VidushaZ, I would invite you to ask your question on The Watch, Centreon's community platform : https://thewatch.centreon.com/ I'm sure someone will help you find an answer quickly. Regards,

[2022-07-08 07:35] joschi99 commented on #7485
the issue is still open. Is there any solution available?

[2022-07-08 13:07] ponchoh commented on #7485
Being that all the versions discussed here have reached their EOL, I will close this case.

https://docs.centreon.com/docs/releases/lifecycle/

- Several updates to downtimes > 20.04.2 https://docs.centreon.com/docs/20.04/releases/centreon-core/#20043
- propose all to update to a recent release
  - https://docs.centreon.com/docs/upgrade/introduction/

# 😊⛱

[2022-07-08 13:07] #7485 closed

[2022-07-08 14:34] JuliusKoenig commented on #7485
Okay then I would like to bring this back to life :)

I have just recreated the above problem in a current version 22.04.0. Unfortunately it is still not possible to schedule a weekly downtime from for example 9 pm. to 2 am.

Here are a few screenshots:

![image](https://user-images.githubusercontent.com/8570502/178012628-c4f8a551-0a47-40b5-8821-e36f1a27bc0f.png)
_here it works_

![image](https://

[2022-07-08 14:51] joschi99 commented on #7485
I can confirm that the problem is still there on any supportet version, please reopen the case.

[2022-07-08 15:03] ponchoh commented on #7485
Thank you for this @joschi99 and @JuliusKoenig let me look into this and I will get back to you.

[2022-07-08 21:02] ponchoh commented on #7485
Have you tried with a multi period?

![image](https://user-images.githubusercontent.com/85764737/178069762-4355873f-f410-4512-8dfc-12e4dc2590ac.png)
![image](https://user-images.githubusercontent.com/85764737/178069786-cdb1f779-20ff-405b-9380-0d6bb6f1f831.png)

[2022-07-11 05:58] joschi99 commented on #7485
Yes, we configured 2 periods, one until 23:59 and the second from 00:00. But as described 1 minute between 23:59 and 0:00 will not covered from the downtime and alarms are send in this time range

[2022-07-11 13:18] ponchoh commented on #7485
I see now, we need to use 24 and actually type it.

![image](https://user-images.githubusercontent.com/85764737/178272895-6eee1dac-5634-473c-bb4a-25ea01574521.png)

[2022-07-11 15:10] ptitpopey commented on #10828
Problème sur les groupes de services champ groupe de contact. Saisie d'un groupe de contact dasn chaque groupe de service puis suppression des groupes de contact dans les groupes de services

[2022-07-11 15:14] ptitpopey opened #11362 "Upgrade from 21.10.7 to 22.04 fail"
Centos 7

Currently upgrading... please do not interrupt this process.
Step 	Status
21.10.7 to 22.04.0-beta.1	UPGRADE - 22.04.0-beta.1: Unable to configure centreon-gorgone api user

You seem to be having trouble with your upgrade.

Please check the "upgrade.log" and the "sql-error.log" located in "/var/log/centreon" for more details
You may refer to the line in the specified file in order to corr

[2022-07-12 07:10] MineHarry01 commented on #8965
We're fixing this with a trigger on centreon-web package by all customers since Sep 2022 this way:

[code]

But a fix in the Source would be preferred - can you provide a better way to fix this? Or apply the Change to the Source?

It seems to be still a Problem at 22.04

[2022-07-12 07:11] itsul commented on #8965
We're fixing this with a trigger on centreon-web package by all customers since Sep 2020 this way:

[code]

But a fix in the Source would be preferred - can you provide a better way to fix this? Or apply the Change to the Source?

It seems to be still a Problem at 22.04

[2022-07-13 08:18] vhsantos opened #11375 "Very long time to approve small PR"
### Feature explanation

Small and old PR should be revised and rejected/accepted quickly.

### Additional information

I have a very simple and small (with only one line) [PR](https://github.com/centreon/centreon/pull/10958) created many months ago.
Since then, many other PR have been approved and releases have been created.

What is the idea of having PR from the community if they aren't going t

[2022-07-13 09:14] romsworld opened #11380 "UNKNOWN for centreon-plugin-Hardware-Storage-Hp-Storeonce4-Restapi"
Hi,
Why status is UNKNOWN, disk is failed here 👍

Thanks,

 /usr/lib/centreon/plugins//centreon_hp_storeonce4_restapi.pl --plugin=storage::hp::storeonce::4::restapi::plugin --mode=hardware-storage --hostname='' --proto='https' --port='443' --api-username='' --api-password='' --insecure --component='' --verbose
UNKNOWN: drive 'sc_01632d09-0000-1000-8025-45433030334c:port 1I, box 1:port 1I, box 1, b

[2022-07-13 14:08] lpinsivy commented on #11375
PR has been added into our backlog. Sorry for the delay

[2022-07-13 14:08] #11375 closed, assigned to lpinsivy

[2022-07-27 14:43] NTIC94130 opened #11434 "PHP Fatal error when importing Host with CLAPI"
Hello,

# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]
centreon-22.04.0-2.el7.centos.noarch
centreon-auto-discovery-server-22.04.0-1.el7.centos.noarch
centreon-awie-22.04.0-1.el7.centos.noarch
centreon-broker-22.04.0-13.el7.x86_64
centreon-broker-cbd-22.04.0-13.el7.x86_64
centreon-broker-cbmod-22.0

[2022-07-27 16:12] vcoumailleau commented on #11312
Hello,
I got the same error. It was from one of the php upgrade files (`/usr/share/centreon/www/install/php/Update-22.04.0-beta.1.php` )
This PHP file upgrade the database scheme, and at some point use the SQL operator '**INTERSECT**' (line 502). This part of the code create the new broker output with unified SQL and delete the 2 others
**MySQL** can't use **INTERSECT** operator

To work around th

[2022-07-27 17:04] proxyconcept opened #11438 "[CLAPI] PHP Warning: Undefined variable $paramString"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

centreon-web-22.04.0-2.el8.noarch

***Operating System***

Red Hat Enterprise Linux 8.6 (Ootpa)

### Description

Some CLAPI commands causes this PHP Warning: Undefined variable $paramString

### Steps to Reproduce

For example:
```centreon -u admin -p '******' -o CMD -a getparam -v 'App-Monitoring-Centreon-Service-Dummy;line'```

### De

[2022-07-28 13:26] proxyconcept opened #11451 "[CLAPI] Delimiter char (semicolon) is not escaped (and cannot be escaped)"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

centreon-web-22.04.0-2.el8.noarch

***Operating System***

Red Hat Enterprise Linux 8.6 (Ootpa)

### Description

CLAPI (and API Rest v1) use list of concatenated values with a semicolon delimiter:

- with the "-v" (variables) command line argument
- in the import/export line format

But the code only use the PHP implode/explode function

[2022-07-28 13:37] proxyconcept commented on #11451
I'm working on it, in order to have the possibility of escaping semicolon in value.

I choose the backslash solution `\;` because it's very common to escape special characters with it.

I see in #6718 the suggestion to use `str_getcsv`. It's not a bad idea to reuse the CSV syntax... but I think it's not really applicable because this shifts the problem to the enclosure char. So finally this soluti

[2022-07-29 15:12] proxyconcept commented on #11434
I have the same error with 22.04.1 when I'm trying to re-import my export.

It seems that some `requires` are missing in centreonServiceTemplate.class.php

I can solve this error by adding this:
[code]

[2022-07-29 15:28] proxyconcept commented on #11434
But this class disturbs me... I have some other imports which fail very oddly!

For example it works if I import a file with only this line (assuming I already have a service template named "default_notification"):
[code]

But the same line failed to import if I have before another line on CONTACT or CONTACTTPL:
[code]
It looks once again a missing require:
[code]

I can solve it by adding:
[code]

[2022-07-29 15:55] AndreyTello commented on #10766
Same on 21.10.7

[2022-07-29 15:59] proxyconcept commented on #11438
This partially solves #10566

[2022-07-29 16:17] proxyconcept commented on #11434
I think that I have found the real origin of the problems: just remove the "require bootstrap" from centreonContact and it's not necessary to add anymore requires in others classes (see the PR)

[2022-07-29 17:13] proxyconcept commented on #11434
Well, no... It would have been too easy!

The "require bootstrap.php" is necessary in other case...

[2022-08-01 08:32] proxyconcept commented on #11434
Sounds good to me with this new PR

[2022-08-02 09:44] proxyconcept opened #11480 "Illegal characters in contact groups imported from LDAP"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

centreon-web-22.04.1-8.el8.noarch

***Operating System***

Red Hat Enterprise Linux 8.6 (Ootpa)

### Description

With LDAP backend, the imported contact groups are stored in the database without any check on the name.

This is not a real problem for Centreon Web: administration, synchronisation and authentication are working.
But if a c

[2022-08-02 09:56] proxyconcept commented on #11480
There is no problem with "normal" contact groups (created by centreon web or clapi) because they are sanitized before being saved (see #9220).

But nothing similar is doing when groups are imported from the LDAP backends.

At first I considered adding same sanitize function when contact groups are created from LDAP (before being saved)... But it seems difficult to store a name different from the o

[2022-08-02 10:14] MrBn100ful commented on #11261
Hi,

Is there any update on the issues ?

[2022-08-04 08:22] veskoz opened #11500 "The connection was reset while editing host and service templates"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]
centreon-22.04.1-8.el7.centos.noarch
centreon-auto-discovery-server-22.04.0-1.el7.centos.noarch
centreon-broker-22.04.0-13.el7.x86_64
centreon-broker-cbd-22.04.0-13.el7.x86_64
centreon-broker-cbmod-22.04.0-13.el7.x86_64
centreon-broker-core-22.04.0-13.

[2022-08-05 10:44] dsisysteme opened #11527 "Centreon 22.04.1: Display bug in Firefox on "Services by HostGroup" page"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

The Problem is observed on Centreon 22.04.1

***Operating System***

*Centreon server is on CentOS 7.9.2009*
*Tests are performed from different navigators on different OS :  Debian, Linux Mint, Ubuntu, Windows...*

***Browser used***

- [ ] Google Chrome
- [x] Firefox
- [ ] MS Edge
- [ ] Internet Explorer IE11
- [ ] Safari

Versions: 91

[2022-08-05 12:25] romsworld commented on #11380
move to centreon-plugins

[2022-08-05 12:25] #11380 closed, assigned to nobody

[2022-08-08 08:17] kduret commented on #11434
Hi !
This is fixed here by https://github.com/centreon/centreon/pull/11492

[2022-08-08 08:17] #11434 closed, assigned to nobody

[2022-08-08 09:26] gerpion opened #11535 "Check command are in lock mode after import"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

For the deb based systems

-- Copy/Paste the result of the following command --
[code]
***Operating System***

*CentOS, Debian ...*
centos 7.9

***Browser used***

- [ ] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: -

[2022-08-09 07:26] gerpion commented on #11535
Hello,
Well i found the solution in doing an update in the database.

[2022-08-09 07:26] #11535 closed, assigned to nobody

[2022-08-10 11:55] j-insan3 opened #11555 "Centreon 22.04.1: Contact groups cannot be set when user logs in using OpenID"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***
centreon-22.04.1-8.el7.centos.noarch

***Operating System***

*CentOS 7 *

***Browser used***

- [X] Google Chrome
- [X] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: latest

***Additional environment details (AWS, VirtualBox, physical, etc.):***
VMware

### Description

When using openID in 22.04 you are unable to add users

[2022-08-11 16:16] garnier-quentin commented on #5911
It had been fixed. We use sudoers since quite a time.

[2022-08-11 16:16] #5911 closed

[2022-08-14 20:38] mayrstefan opened #11584 "README is not up to date"
# BUG REPORT INFORMATION

[README](https://github.com/centreon/centreon/blob/develop/README.md) is not up to date:

1. the link to [Using the ISO](https://docs.centreon.com/current/en/installation/installation-of-a-central-server/using-centreon-iso.html) is broken
2. the mentioned supported versions are one version behind the current status

[2022-08-14 20:49] mayrstefan opened #11585 "Unclear usage of trusted proxies and incomplete implementation"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Current develop branch on Github

### Description

There is some code to support trusted proxies with X-Forwarded-*-Headers:
https://github.com/centreon/centreon/blob/b5b67910be42a25867b884896d640737fb8a07e4/api/index.php#L34-L36

### Describe the received result

There is no documentation how this is expexted to be used. This code exist

[2022-08-14 21:01] mayrstefan commented on #11585
Is there a plan to start using Symfony in the Centreon UI too? If yes one could move https://github.com/centreon/centreon/blob/b5b67910be42a25867b884896d640737fb8a07e4/api/index.php#L22-L46 into bootstrap.php and we could start pull requests to remove the usage of some $_SERVER variables (REQUEST_SCHEME, SERVER_PORT, ...) by their Symfony equivalents.

[2022-08-15 13:09] ponchoh commented on #11584
an option

https://docs.centreon.com/docs/21.10/installation/installation-of-a-central-server/using-centreon-iso/

[2022-08-16 19:07] c0c0163 opened #11589 "Debian - NTP forced over chrony"
# BUG REPORT INFORMATION

### Prerequisites
- Chrony installed and configured

***Versions***

$ dpkg -l | grep centreon
[code]
***Operating System***

Debian 11.4 bullseye

***Browser used***

- [X] Google Chrome
- [X] Brave

Version: --

***Additional environment details (VMware):***

### Description

The installation of Centreon udner Debian forces the installation of NTP over chrony which lead

[2022-08-16 20:01] ponchoh commented on #11589
https://thewatch.centreon.com/centreon-debian-user-group-46/centreon-web-dependance-908

[2022-08-16 22:35] mayrstefan commented on #11584
@ponchoh  this is for 21.10 - that page doesn't exist in the current documentation any more. So for 22.04 either the link is wrong or the docs are incomplete

[2022-08-17 10:15] c0c0163 opened #11590 "Contact template hidden feature bug"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Centreon 22.04

***Operating System***

Debian bullseye 11.4

### Description

Contact template has a field contact_theme but this does not propagate to children
[code]

### Steps to Reproduce

Set CONTACTTPL;setparam;Default_template;**contact_theme;dark** from clapi
Define ldap authentication with Contact template  to Default_template

[2022-08-17 13:40] ponchoh commented on #11584
@mayrstefan I was thinking you can use it as a reference, I am currently under the impression that there will not be an ISO for 22+ and I've created a PR to remove them

https://github.com/centreon/centreon/pull/11592

Thank you
👍

[2022-08-17 13:40] #11584 closed, assigned to nobody

[2022-08-19 20:13] c0c0163 commented on #11311
clear your cache on your browser

[2022-08-19 21:22] ponchoh commented on #11311
update for the text/macro 😃

![image](https://user-images.githubusercontent.com/85764737/185708909-9a543891-964d-415e-a5b2-bec4f99798ac.png)

[2022-08-22 05:01] c0c0163 opened #11603 "UI notification configuration with clapi"
Please, make the UI notifications settings available from clapi to the contact_template like:

[code]

[2022-08-24 19:31] joschi99 opened #11615 "User configuration - value "0" will not saved on contact address fields"
version: 21.10.x

If you add/update on a user on the "Addressx" field the value "0" (not null but "0" as number) the inserted value will be completly ignored. If you update the filed setting "0" after saving the record the old value will shown. If you add "0" on a empty addressx field the field remains empty.

[2022-08-25 06:59] martinpiny opened #11616 "Custom views - poller field now mandatory"
Hello,

I see now through all new versions of Centreon, that in custom views is poller field mandatory.
This makes me no sense, as views should be used for some centralized overview, and now with that logic change. it stopped working.

Is this kind of bug or feature? It was not described in the changelogs.

Older versions
![custom_views_old](https://user-images.githubusercontent.com/93271059/18659

[2022-08-25 13:09] ponchoh commented on #11616
# 👋

https://github.com/centreon/centreon/pull/11317/commits/50bb6a97cf847ce3ba793b67147b9a580e438287

## 🤞

[2022-08-25 13:09] #11616 closed, assigned to nobody

[2022-08-25 15:08] kozfelipe opened #11625 "[22.04.2] Reload ACL - refresh icons out of the table"
***Browser used***

- [x] Google Chrome

### Description

The user's refresh icons are being displayed out of the table with no click function.
No javascript errors reported by console

![image](https://user-images.githubusercontent.com/25208457/186701933-5e843cb2-f40c-4e79-89ce-dec72d43690e.png)

[2022-08-25 15:23] kozfelipe commented on #11311
This is the cache from previous installation.
Through your browser dev tools force the hard reload page.

[2022-08-25 15:46] PhilCANDIDO commented on #11311
Hello,

I already web browser cache. And the text color in macro is always in white.

I test in Firefox Developer Edition with cache disable and I have always the same behavior :

![image](https://user-images.githubusercontent.com/13585152/186710593-6ef6bf81-709d-4070-a3d5-7ea8b2e3d98b.png)

[2022-08-25 20:49] kozfelipe commented on #11311
I was refering to your icons. And it seems they are back!
You should look at the update @ponchoh pointed to fix macros

[2022-08-26 19:32] kozfelipe opened #11630 "[22.04.2] CLAPI Service Add - Object not Found"
Hi there,

I am not able to add a service using CLAPI in 22.04

[code]
I can add hosts normally tho

[2022-08-26 20:49] ponchoh commented on #11630
# Add:

[code]

## docs

https://docs.centreon.com/docs/api/clapi/#add-19

![image](https://user-images.githubusercontent.com/85764737/186987170-e70b341a-e90d-48c3-9e27-3e96dcfb8685.png)

### from your data

[code]

1.localhost
2.test
3.?

# 🥳
continues @ https://thewatch.centreon.com/

[2022-08-26 20:49] #11630 closed, assigned to nobody

[2022-08-26 21:29] kozfelipe commented on #11630
Thank you @ponchoh
My analyst forgot the template. Sorry for the inconvenience

[2022-08-30 15:49] TelehouseVN commented on #10727
Did you fix it?

[2022-08-31 13:15] sdouce opened #11663 "Parameter ==> Limit per page , is not used in Resource Status page."
# BUG REPORT INFORMATION

### Prerequisites

***Versions***
centreon-agent-2.0.2-53.el7.x86_64
centreon-anomaly-detection-21.04.2-1.el7.centos.noarch
centreon-auto-discovery-server-21.04.4-2.el7.centos.noarch
centreon-awie-21.04.1-5.el7.centos.noarch
centreon-bam-server-21.04.1-11.el7.centos.noarch
centreon-base-config-centreon-engine-21.04.14-3.el7.centos.noarch
centreon-bi-server-21.04.3-9.el7.c

[2022-08-31 13:18] ponchoh commented on #11663
internal -> IBT-292?

[2022-09-01 13:49] kozfelipe opened #11673 "[22.04.2] Excessive Warnings"
Hi, I am getting lots of warnings about non existing array keys

Centreon 22.04.2
php-fpm 8.0.22

**LDAP**

`WARNING: Warning: Undefined array key "ldap_auto_sync" {"exception":"[object] (ErrorException(code: 0): Warning: Undefined array key \"ldap_auto_sync\" at /usr/share/centreon/www/class/centreonLDAP.class.php:975)"}`

**USER**

I am getting these very often (every 3 seconds)
[code]

**Downti

[2022-09-03 07:07] naziris opened #11682 "Centreon 22.04 on Raspberry Pi (ARM64)"
Hello,

I managed to install Centreon 21.10 on a Raspberry Pi following [this](https://www.sugarbug.fr/framboise/full_raspcentreon4_2110/) guide.

I've done several attempts but I always fail to login following with the same "Token" error as you can see from the screenshot.
![Screenshot 2022-06-19 135548](https://user-images.githubusercontent.com/5808427/188259998-74db7232-854a-4cd8-85b9-22ab431f4

[2022-09-04 18:37] Manu-ctrl opened #11683 "Huawei monitoring interface xgigabitethernet0/0/1 display all interface that equal pattern"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

For the deb based systems

-- Copy/Paste the result of the following command --
[code]
***Operating System***

*CentOS* Linux centreon 4.18.0-372.19.1.el8_6.x86_64 #1 SMP Mon Jul 18 11:14:02 EDT 2022 x86_64 x86_64 x86_64 GNU/Linux

***Browser used***

[2022-09-05 12:55] kozfelipe commented on #11682
Internal Server Error 500 - You should check your php-fpm centreon-error.log

[2022-09-06 14:03] ponchoh commented on #11682
@naziris

You should update your apache

10-centreon.conf

and make sure you have

[code]

or a proper one according to your setup, restart apache and you should be good to go

# 🤞

[2022-09-07 13:12] #11682 closed, assigned to nobody

[2022-09-07 16:21] proxyconcept commented on #11527
This page is rendering with XML data and XSL transformations (applied by the browser):

- a field contains an icon in SVG : it's composed of XML tags (like HTML)
- the XSL transformation use this data with an option "disable-output-escaping"
- but Firefox don't accept this option so the SVG is escaped and we see his code

Corresponding code:

- www/include/monitoring/status/ServicesHostGroups/xml/

[2022-09-07 17:35] proxyconcept commented on #11527
Maybe my PR is not the right way to resolve this, because a solution seems to already exists with a `<span class="svgs">...</span>` around the SVG code.

Then the right fix should be to continue this wrapping for all the SVG icons in the XSL files...

[2022-09-08 15:55] proxyconcept commented on #11527
Already fixed with  #11659

[2022-09-09 14:20] dsisysteme commented on #11527
Thank you @proxyconcept for your answer.
According to [#11659](https://github.com/centreon/centreon/pull/11659) the patch is intended for 22.10.x version.
We have now to wait for the release of this version.

[2022-09-09 21:17] kozfelipe commented on #11683
hi there
What huawei template are you using?
How is your service resulting command?
Have you tried regex like:
`--interface ^XGigabitEthernet0/0/1$`

[2022-09-10 03:22] Manu-ctrl commented on #11683
Hi!,

1.- Net-Huawei-SNMP-Custom
2.- The command is the default command of the huawei plugin.
3.- GREAT! this is the sintax for query the interface "--interface ^XGigabitEthernet0/0/1$". before I had only dealt with ^ and when exporting to the poller it gave me an error

![imagen_2022-09-09_232040850](https://user-images.githubusercontent.com/56364556/189466812-cd8c1114-4f1d-4ff9-b180-2a8757d80f14

[2022-09-12 06:56] c0c0163 opened #11738 "(Debian) CLAPI - permission error"
When you use clapi on debian, the permissions are not properly set for on the /var/cache folders

This cause a NOK on the WebUI
[code]

[code]

Also in /etc/centreon-engine/
[code]

[code]

[2022-09-12 07:04] c0c0163 opened #11739 "Alcatel Stack wrong OID"
Alcatel switch are not defined as a stack but as a chassis.

Consequently, the OID: .1.3.6.1.2.1.47.1.1.1.1.5 (entPhysicalClass) will always appear as chassis(3).
This leads to the plugin centreon_alcatel_omniswitch_snmp.pl to never check the stack.

Alcatel is using a dedicate MIB (ALCATEL-IND1-VIRTUAL-CHASSIS-MIB) for the virtual chassis which is under the following table:
.1.3.6.1.4.1.6486.801.

[2022-09-12 07:25] garnier-quentin commented on #11739
Could you provide the MIB and the snmpwalk of the branch: .1.3.6.1.4.1.6486.801.1.2.1.69.1.1.2 ? You should post it in centreon-plugins project

[2022-09-12 07:30] c0c0163 commented on #11739
Moved to centreon-plugin
https://github.com/centreon/centreon-plugins/issues/3896

[2022-09-12 07:30] #11739 closed, assigned to lpinsivy

[2022-09-12 12:12] c0c0163 opened #11743 "Debian - Backup configuration"
By default, after a fresh install the parameters in Administration/Parameters/backup/MySQL configuration file path indicate a non existing file.
The proper parameter should be /etc/mysql/mariadb.conf.d/50-server.cnf

[2022-09-15 15:01] snk33 opened #11770 "Cannot export performances graphs to image after upgrading to 22.04"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

[code]

***Operating System***

CentOS 7

***Browser used***

- [ ] Google Chrome
- [x] Firefox
- [ ] Internet Explorer IE11
- [x] Safari

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.):***

Hosted on a VM on a VMware Private Cloud

### Description

After upgrading from 21.10 to 22.04, we cannot export p

[2022-09-16 09:11] jloggia1 opened #11775 "Service Template display error"
### Description

The parent of service templates is not being display correct for Centreon version => 21.10.9.

![image](https://user-images.githubusercontent.com/107404891/190600972-048ac324-d4f0-4998-b3ba-56a5aa3be0af.png)

It seems like this is caused by the new function in /usr/share/centreon/www/include/configuration/configObject/service_template_model/listServiceTemplateModel.php line 235:

[2022-09-16 13:00] ponchoh commented on #11775
https://github.com/centreon/centreon/commit/00b808aa5e9c1f41b47b8daf87642810d948ec4b

[2022-09-16 13:00] #11775 closed, assigned to nobody

[2022-09-19 12:44] jloggia1 opened #11809 "Graph pop up is not being displayed in Centreon 22.04"
### Description

The graph pop up function for the "deprecated" service status page is not working correctly. The graph is not being displayed if you hover over the icon.

E.g.:
![image](https://user-images.githubusercontent.com/107404891/191019962-971043db-89a2-4dbc-8545-34fbcfd2324b.png)

It seems like this is caused by the changes in the file /usr/share/centreon/www/include/monitoring/status/Se

[2022-09-19 16:09] ghost commented on #11770
Hi, just to offer more information:

Since the following  `else`  code was added is not possible to use `/usr/share/centreon/www/include/views/graphs/generateGraphs/generateImage.php`. Every time when this is called from GUI it logged in this error:

[code]
The error log:

[code]

It's like in this point of the code, the vars `$userName` and/or `$token` are empty.

If you comment this `else` it st

[2022-09-19 17:18] ponchoh commented on #11770
I believe we have an internal case for this and added this to the case. Thank you.

[2022-09-22 12:26] mooky31 opened #11852 "No parent platform was found for : 'poller-1'"
Hello,

I'm trying to deloy a poller on a lab environment.
The central and the poller are on the same LAN, no firewalls.

Central and poller are both 21.10.10.

I followed carefully this doc : https://docs.centreon.com/fr/docs/21.10/installation/installation-of-a-poller/using-centreon-iso/
When I try to register the poller, here is what I get:
[code]

Is there a bug ? Or am I doing something wrong

[2022-09-22 12:56] mooky31 commented on #11852
Found it : my central server was referenced as 127.0.0.1 in pollers list.
I changed its IP to 192.168.30.14 and it works.

[2022-09-22 12:56] #11852 closed, assigned to nobody

[2022-09-22 13:16] ponchoh commented on #11852
Thank you for the update.

[2022-09-22 13:52] mooky31 commented on #11852
While I'm here : the poller wizard fails silently if resource $USER1$ doesn't exist

[2022-09-29 12:42] mooky31 opened #11902 "Pollers added via CLAPI are not in cfg_nagios table"
***Versions***

[code]

***Browser used***

N/A

### Description

I am trying to add a poller through CLAPI.
I use:
`centreon -u admin -p centreon -o INSTANCE -a add -v 'test4;9.9.9.9;22;ZMQ;5556' `

I cannot generate the config files then:
`centreon -u admin -p 'centreon' -a POLLERGENERATE -v test4`
Please check that your parameters are valid

Through the web interface, it says:
`Exception receiv

[2022-09-29 16:31] ParadoxGuitarist commented on #11555
I'm also having this issue, but I realized something else that may or may not be related:

In our instance the OpenID payload has no groups object.  I'm not sure if the null object from `claim_name` is causing it to blank out the group listing  (like it's replacing the objects instead of adding to them).

[2022-09-29 16:32] ParadoxGuitarist commented on #11555
Actually I went back to add a known object from the payload that could be used for `claim_name` and setting it didn't change the behavior. It still removes the user from all assigned groups.

[2022-09-29 19:56] vwbusguy commented on #11555
As a workaround for now, comment out line 98 of /usr/share/centreon/src/Core/Security/Application/UseCase/LoginOpenIdSession/LoginOpenIdSession.php :

[code]

Note that this change likely won't persist next time you update Centreon, so this is just a temporary workaround.

[2022-10-03 09:05] chi-miel opened #11918 "[API V2]cache file created each time authication"
# BUG REPORT INFORMATION

### Prerequisites
***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
centreon-auto-discovery-server-22.04.1-2.el7.centos.noarch
centreon-awie-22.04.0-1.el7.centos.noarch
centreon-bi-server-22.04.1-3.el7.centos.noarch
centreon-broker-22.04.1-4.el7.x86_64
centreon-broker-cbd-22.04.1-4.el7.x86_64
centreon-broker-cbmod-22.04.1-4.el

[2022-10-03 19:36] kozfelipe opened #11922 "[centreon-plugin-Applications-Protocol-Modbus] 22.07.5 Host Template has no Macros"
***Versions***
centreon-plugin-Applications-Protocol-Modbus 22.07.5

### Description
The host template installed by this pack has no macros referenced by the check command as MODBUSTCPHOST and MODBUSEXTRAOPTIONS

### Steps to Reproduce
1. Configuration -> Plugin Packs -> Install Modbus
2. Create a host and link it to **App-Protocol-Modbus-custom** template, as described by this [guide](https://doc

[2022-10-06 14:20] ghost commented on #11770
Hello @snk33 :

It has been fixed in centreon-web-22.04.6

[2022-10-06 14:27] #11770 closed, assigned to nobody

[2022-10-08 15:45] Bochi75 opened #11962 "Latency detected in a Poller"
Hello all,

I just deploy a new plateform on Google and I have some issue on it, I have a message which mean high lantecy on one poller, and I see that graph are not complete...

My hardware :

16go RAM
8vCPU

Currently I check on this poller :

300 hosts
1100 services

I attached picture of my statistics.

Thanks in advance for ou help.
![Uploading latency.png…]()

[2022-10-09 17:30] #11962 closed, assigned to nobody

[2022-10-10 07:22] SpecSierra commented on #11261
Hi,

Is there any update on the issues ? @ponchoh

Thanks.

[2022-10-12 14:18] Bochi75 opened #11983 "Error in centreon : (Execute command failed)"
Hello Team,

I have an issue on my centreon plateform, sometime on of my pollers are not able to check service.
status change to "UNKNOWN" with this following error : (Execute command failed).

My version of Centreon is : v. 22.04.4

Thanks in advance for your help.

Regards,

[2022-10-13 12:25] StefThomas commented on #9509
Hi,

Bug confirmed here on Centreon 20.04 (not the very last one). The workaround proposed by @cgagnaire made the broker working again.

Packages on the central:

[code]

Packages on the DB:

[code]

It’s not the very last version of 20.04…

Is this bug still present with 20.04.20-5 ? And 22.04?

Is the workaround still recommended (modification of the sql_mode directive)?

Regards.

[2022-10-13 17:04] #8139 closed

[2022-10-13 17:06] kozfelipe commented on #7767
fixed

[2022-10-13 17:06] #7767 closed

[2022-10-13 17:08] #6123 closed

[2022-10-13 17:16] #5773 closed

[2022-10-14 10:33] flex-pgum opened #11994 "21.10.13 - API user with admin privileges no longer able to authenticate"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

Centreon Web 21.10.13

***Operating System***

CentOS 7

***Browser used***

- [ ] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari
- [x] Postman
- [x] Curl

### Description

-- Describe the encountered issue --

### Steps to Reproduce

Please describe precisely the steps to reproduce the encountered issue.

1. Creat

[2022-10-17 08:14] c0c0163 commented on #11738
Any update?

[2022-10-17 08:27] rmorandell-pgum opened #11999 "host status: Out of range value for column 'notification_number' in broker after fix 21.10.12"
***Versions***

centreon-21.10.13-2.el7.centos.noarch
centreon-auto-discovery-server-21.10.3-2.el7.centos.noarch
centreon-awie-21.10.0-1.el7.centos.noarch
centreon-base-config-centreon-engine-21.10.13-2.el7.centos.noarch
centreon-broker-21.10.3-3.el7.x86_64
centreon-broker-cbd-21.10.3-3.el7.x86_64
centreon-broker-cbmod-21.10.3-3.el7.x86_64
centreon-broker-core-21.10.3-3.el7.x86_64
centreon-broker-

[2022-10-17 11:34] Bochi75 opened #12003 "OpenID connect session time out"
Hello all,

I’m facing another issue with OpenID connect (Centreon/OKTA), every hour users are disconnect, dashboard display error message ‘Invaid cerdentials.’

Did you encontered this issue ?

![image](https://user-images.githubusercontent.com/114311163/196167026-dd091e66-6faa-4f07-8819-5db4cde793ef.png)

[2022-10-17 14:26] hecko opened #12004 "centreon-poller rpm package relies on perl-dbd-mysql"
### Feature explanation

Remove hard dependency on perl-dbd-mysql rpm package from RHEL8 for centreon-poller rpm

### What is the value of the wanted feature ?

RH officially supported UBI8 Docker layer does not offer this package in the list of supported packages
https://hub.docker.com/r/redhat/ubi8

### Additional information

perl DBD::MySQL module can be installed using cpanm, but the dependen

[2022-10-17 14:39] hecko commented on #12004
Im closing this. The UBI8 distro has multiple issues running centreon, not just this limitation. Ill re-open the issue if reasonable.

[2022-10-17 14:39] #12004 closed, assigned to lpinsivy

[2022-10-18 21:00] ponchoh commented on #11625
same on 🔥🦊

![image](https://user-images.githubusercontent.com/85764737/196543692-ff953704-89f0-48b6-94ae-0c17a3ec30df.png)

[2022-10-19 13:02] #11625 closed, assigned to nobody

[2022-10-21 14:25] itsul commented on #11994
We can confirm this issue too. We are using a API Users for scripts which stop working on 21.10.13. We had to give the users the permissoin to reach the centreon front-end. Else we got the same error. The behavior should be changed as before.

[2022-10-26 13:25] StefThomas opened #12039 "Log the user who delete or cancel a downtime"
Hi,

### Feature explanation

Currently we know which user set a downtime, but we don’t know which user delete or cancel one. We would like to be able to know this information.

### What is the value of the wanted feature ?

Ease the troubleshooting of problems related to downtimes.

### Additional information

In centengine.log we can see the user and the comment when setting a downtime:

    [16

[2022-10-26 13:45] ponchoh commented on #12039
In case anyone wants to join the party

# 🍰

https://thewatch.centreon.com/ideas/added-log-to-know-who-deleted-a-downtime-1040

[2022-10-29 14:19] ericMoulot opened #12048 "All hosts and services Status in the top counter and the monitoring page flapping to UNKNOWN then back to normal every few minutes"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

[code]
centreon-auto-discovery-server-21.10.3-2.el8.noarch
centreon-base-config-centreon-engine-21.10.10-1.el8.noarch
centreon-broker-21.10.3-3.el8.x86_64
centreon-broker-cbd-21.10.3-3.el8.x86_64
centreon-broker-cbmod-21.10.3-3.el8.x86_64
centreon-broker-core-21.10.3-3.el8.x86_64
centreon-broker-storage-21.10.3-3.el8.x86_64
centreon-clib

[2022-10-30 17:13] ericMoulot commented on #12048
A solution was found in issue #5609 ; the solution consisted of setting the parameter Instance timeout (Configuration  >  Pollers  >  Broker configuration > Output > Instance timeout OR /etc/centreon-broker/central-broker.json) to it's default value. The value previously set by my team was 20 seconds, which caused a race condition between the freshness verification task, and the refresh interval f

[2022-10-30 17:13] #12048 closed, assigned to nobody

[2022-11-02 14:01] bambin401 commented on #7485
Hello, the issue is still existing in version 21.04.20, is there any news on fixing the issue ?

[2022-11-03 09:21] mqssi commented on #10920
Hello,
I'm having the exact same error message after following the Centos7 doc for Centreon 21.10.
sako-cmr suggestion did not work. Connectivity between Central and poller is operational.

[2022-11-03 12:29] hecko commented on #11999
I am experiencing the same issue with centreon-web-21.10.13-2.el7.centos.noarch
Patching as per https://thewatch.centreon.com/data-usage-and-visualization-38/centreon-22-04-01-service-check-results-not-visibles-in-web-interface-935 fixed the stalled broker.

[2022-11-04 08:12] #11149 closed

[2022-11-04 08:12] c0c0163 commented on #11149
fixed

[2022-11-04 08:26] c0c0163 opened #12057 "Openldap with SSL/TLS error"
Environment:
[code]

ldap configuration:
[code]

ldapsearch.log:
**TLS**
[04/11/2022 08:17] LDAP Connect : trying url : ldap://XXXXXXX:389/
[04/11/2022 08:17] LDAP Connect : use tls
[04/11/2022 08:17] LDAP Error : Connect error
[04/11/2022 08:17] LDAP Connect : Credentials : cn=ldapbind,ou=users,ou=xxx,dc=xxx,dc=xxx,dc=xxx;
[04/11/2022 08:17] LDAP Error : Can't contact LDAP server
[04/11/2022 08:1

[2022-11-04 08:34] c0c0163 commented on #12057
[code]

[2022-11-04 11:30] hecko commented on #11999
This error has re-appeared by upgrading from 21.10 to 22.04

[2022-11-04 11:54] hecko commented on #11999
This has re-surfaced in my env when upgrading from 21.10 to 22.10. i have temporrarily fixed this by changing the fileds from unsigned to signed:

[code]

[2022-11-04 12:52] rmorandell-pgum commented on #11999
Yes i did the same

[2022-11-05 11:14] naziris commented on #11682
Thank you @ponchoh! Your solution was the one.

[2022-11-08 09:38] ERFPP opened #12060 "Unable to update centreon 22.04 - package centreon-release-22.04-3.el7.centos.noarch is already installed"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

For the deb based systems

-- Copy/Paste the result of the following command --
[code]
***Operating System***

*CentOS7*

***Browser used***

- [ ] Edge 107.0.1418.35

Version: --

***Additional environment details (AWS, VirtualBox, physical, etc.):**

[2022-11-15 14:04] qladriere opened #12065 "[Centreon 22.10.1][API] Unable to connect using accounts where authentication source is LDAP"
# BUG REPORT INFORMATION

### Prerequisites

***Versions***

For the RPM based systems

-- Copy/Paste the result of the following command --
[code]

***Operating System***

RHEL7

***Browser used***

- [x ] Google Chrome
- [ ] Firefox
- [ ] Internet Explorer IE11
- [ ] Safari

Version: 22.10.1

***Additional environment details (AWS, VirtualBox, physical, etc.):***

### Description

When using the